<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="page-data">
        <form method="post" action="/employee/edit/<%=data[0].id%>">
            <table cellpadding="11">
                    <div class="w3-container w3-blue">
                            <h2>Edit Employee</h2>
                          </div>
                          
                    <!-- <form class="w3-container">
                            <p>
                            <label>First Name</label>
                            <input class="w3-input" type="text"></p>
                            <p>
                            <label>Last Name</label>
                            <input class="w3-input" type="text"></p>
                            <p>
                            <label>Email</label>
                            <input class="w3-input" type="text"></p>
                          </form> -->
                    <% Object.keys(data[0]).forEach(key => { %>
                        <tr>
                        <td><label><%= (key)%></label></td>
                        <td><input type='text' class='form-control'  name='<%= (key)%>' value="<%= data[0][key]%>"/>
                      <% }) %></td>
                        </tr>
                    <td>
                        <button type="submit">Save</button>
                        <button type="button" onClick="cancelAdd()">Cancel</button>
                    </td>
                </tr>
            </table>
        </form> 
    </div>
</body>
</html>