@import "~/constants";
.cgt {
    .toc_pji_instruction_section &,
    .toc_pji_info_section &,
    .toc_pji_verdict_section & {
        display: inline-block;
    }
    .pji_verdict_section_body>.verdict_form>.charge_para>.designator>& {
        display: inline;
        margin-right: #{$indent}em;
    }
    .toc_pji_instruction_section>&,
    .toc_pji_info_section>& {
        display: none;
    }
    .toc_pji_instruction_section>&:last-of-type,
    .toc_pji_info_section>&:last-of-type {
        display: block;
    }
}