# Set the default behavior, in case people don't have core.autocrlf set.
**/ebookGenerator/IntegrationTests/**/*.transformed text eol=lf
**/ebookGenerator/IntegrationTests/**/*.preprocess text eol=lf
**/ebookGenerator/IntegrationTests/**/*.footnotes text eol=lf
**/ebookGenerator/IntegrationTests/**/*.main text eol=lf
**/ebookGenerator/IntegrationTests/**/*.page text eol=lf
**/ebookGenerator/IntegrationTests/**/*.part text eol=lf
**/ebookGenerator/IntegrationTests/**/*.html text eol=lf
**/ebookGenerator/IntegrationTests/**/*.xml text eol=lf
**/ebookGenerator/IntegrationTests/com/thomsonreuters/uscl/ereader/gather/step/resourcePrepareSources/**/*.xml text eol=crlf
**/ebookGenerator/srctest/com/thomsonreuters/uscl/ereader/assemble/service/*.txt text eol=lf

