.gradle
.idea
*.iml
classes
*.log
out
ebookGenerator/build/
eBookGatherer/build/
ebookGeneratorCore/build/
ebookManager/build/
eBookGatherer/MC-Prod.txt.*
/coreStatic/
/staticContent/
/workstation/
/codesWorkbench/
/cicontent/
/prodcontent/
/generator/