.gradle
.idea
*.iml
classes
*.log
out
ebookGenerator/build/
eBookGatherer/build/
ebookGeneratorCore/build/
ebookManager/build/
eBookGatherer/MC-Prod.txt.*

coreStatic/
staticContent/
workstation/
mdlitman-small-----/
codesWorkbench/
eBookGatherer/WebContent/WEB-INF/poc/Novus_Novus_POC/annualPamphlets/mdlitman-small-----/
cicontent/