<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration threashold="all">
	<Properties>
		<Property name="serverName">${env:$HOSTNAME}</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{MM/dd HH:mm:ss.SSS} %-5p %C{1}.%M: %m%n" />
		</Console>
		<RollingFile name="rollingFileAppender"
				filename="/apps/eBookBuilder/ebookGenerator.log"
				filepattern="/apps/eBookBuilder/ebookGenerator.%i.log">
			<PatternLayout pattern="%d{MM/dd HH:mm:ss.SSS} %-5p %C{1}.%M: %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.thomsonreuters.uscl.ereader" level="debug"
			additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFileAppender" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFileAppender" />
		</Root>
	</Loggers>
</Configuration>
