.cgt {
    .rw_hierarchy_body .rw_doc_reserved &,
    .rw_doc_outline_name_block>.designator+& {
        display: inline;
    }
    .rutter_chapter & {
        white-space: pre;
    }
    .toc_rutter_form_doc .name~&,
    .rutter_chapter .generated_toc>.full_toc .name~& {
        display: none;
    }
    .toc_rutter_form_doc .name~&:last-of-type,
    .toc_rw_hierarchy .outline_name_block>&:nth-last-of-type(2),
    .toc_rutter_form_doc .outline_name_block>&:nth-last-of-type(2),
    .rutter_chapter .generated_toc>.full_toc .name~&:last-of-type,
    .rutter_chapter .generated_toc>.full_toc .name~&:nth-last-of-type(2),
    .rutter_chapter .generated_toc>.full_toc .name~.xref+&,
    .rutter_chapter_block .rutter_chapter_block_front .generated_toc & {
        display: block;
    }

    .rutter_chapter_block .rutter_chapter_block_front .generated_toc & {
        margin-bottom: #{$indent}em;
        text-align: center;
        &:last-of-type {
            text-align: right;
        }
    }
    .rutter_chapter_block .rutter_chapter_block_front .generated_toc .full_toc .toc_rutter_chapter .rw_outline_name_block & {
        display: none;
        &:first-of-type,
        &:last-of-type {
            display: inline-block;
            margin: 0;
            padding: #{$indent}em 0 0 0;
        }
        &:last-of-type {
            float: right;
        }
    }
}
