.toc_rutter_chapter,
.toc_rutter_chapter_block {
    .cgt {
        display: inline-block;
    }
    .label {
        margin-right: #{$indent/2}em;
    }
    .name {
        margin-left: #{$indent}em;
    }
}

.summary_toc {
    .font_summary_toc,
    .font_summary_toc_2 {
        text-align: center;
    }
}

.rutter_chapter_front {
    .rw_outline_name_block {
        text-align: center;
        .label,
        .font_rw_outline_name_block {
            display: inline;
        }
        .designator .font_designator {
            padding-left: #{$indent/2}em;
        }
        .name {
            text-align: center;
            padding: #{$indent}em 0em;
        }
    }
    .full_toc {
        white-space: nowrap;
        .font_full_toc {
            display: block;
            text-align: center;
        }
        .font_full_toc_1 {
            display: block;
            text-align: right;
        }
        .toc_rw_doc,
        .toc_rw_hierarchy {
            margin-left: #{$indent}em;
            .outline_name_block {
                width: 100%;
                .font_outline_name_block {
                    display: block;
                }
            }
        }
    }
    .outline_name_block>.designator {
        margin-right: #{$indent/2}em;
    }
}

.font_outline_name_block {
    .outline_name_block>& {
        .toc_rutter_form_doc &,
        .toc_rw_hierarchy & {
            display: block;
        }
    }
}

.rutter_chapter .generated_toc>.full_toc {
    .name {
        width: 100%;
        padding-right: 10%;
        white-space: pre-wrap;
    }
}

.toc_rutter_form_doc .rw_designator {
    padding-right: #{$indent/2}em;
}

.toc_rutter_form_block {
    width: 100%;
}

.toc_rutter_form_doc .outline_name_block {
    width: 100%
}