.rutter_chapter .rutter_chapter_body {
    .font_designator_1,
    .font_designator_2 {
        display: inline;
    }
    .rw_hierarchy_front {
        .font_rutter_chapter_body {
            display: block;
            text-align: center;
        }
        .rw_outline_name_block {
            .font_rw_outline_name_block_1 {
                display: inline-block;
            }
            .name {
                display: inline-block;
            }
        }
    }
    .rw_hierarchy_body {
        padding-left: #{$indent}em;
        .rw_doc_front {
            .rw_doc_outline_name_block {
                .font_rw_doc_outline_name_block {
                    display: inline-block;
                }
                .rw_designator {
                    display: inline-block;
                }
                .font_rw_designator {
                    display: inline-block;
                }
                .font_rw_doc_outline_name_block_1 {
                    display: inline-block;
                }
                .name {
                    display: inline-block;
                }
            }
        }
        .rw_doc_body {
            padding-left:#{$indent}em;
            .para {
                margin-bottom:#{$indent/2}em;
                .para_text {
                    text-indent: unset;
                }
            }
        }
        .rw_hierarchy_body {
            padding-left:#{$indent}em;
        }
    }
}