
.front_matter_page
{
	font-family: Arial,serif;
	margin-top: 2.5em;
	margin-bottom: 1em;
}

.title_page
{
	margin-top: 5em;
	text-align:center;
}


.copyright_page
{
	margin-top: 5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align:center;
}

.additional_front_matter_page
{
	margin-top: 2em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align:left;
}

.research_assistance_page
{
	margin-top: 5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align:center;
}

.westlaw_next_page
{
	margin-top: 2em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align:left;
}

.bookname
{
	font-size:4em;
	font-weight: bold;
}

.bookname p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.bookname2
{
	font-size:2.5em;
	font-weight: bold;
	margin-top:2em;
}

.bookname2 p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.bookname3
{
	font-size:1.5em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.bookname3 p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.currency
{
	font-size:1.5em;
	font-weight: bold;
	margin-top: 1em;
}

.currency p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.author1
{
	font-size:1.2em;
	font-weight: bold;
	margin-top: 1.5em;
}

.authorInfo
{
	font-size:1em;
	margin-top: 0.3em;
}

.authorInfo p 
{ 
	margin-top:0em;
	margin-bottom:0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.authorNext
{
	font-size:1.2em;
	font-weight: bold;
	margin-top: 0.8em;
}

.logo
{
	margin-top:3em;
	margin-bottom:2em;
}

.copyright
{
	font-size:1em;
	line-height:1.5em;
}

.copyright p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.copyright_page_text
{
	font-size:1em;
	margin-top: 1em;
	text-align:left;
	line-height:1.5em;
}

.copyright_page_text p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.copyright_disclaimer
{
	font-size:1em;
	margin-top: 1em;
	text-align:left;
	line-height:1.5em;
}

.isbn
{
	margin-top:1.5em;
}

.copyright_patent
{
	font-size:1.2em;
	margin-top:1.5em;
	margin-bottom:2em;
}

.copyright_patent p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.research_assistance_title
{
	font-size:1.2em;
	font-weight: bold;
	margin-top:1.5em;
}

.research_assistance_text
{
	font-size:1em;
	text-align:left;
	margin-top:2em;
}

.research_assistance_homepage
{
	font-size:1em;
	text-align:left;
	margin-top:1em;
}

.westlawNext_text
{
	margin-top: 1em;
}

.westlawNext_indent
{
	padding-left: 1em;
}

.additional_front_matter_title
{
	font-size:1.5em;
	font-weight: bold;
	margin-top:1em;
	margin-bottom:2em;
}

.section_heading
{
	font-size:1.2em;
	font-weight: bold;
	margin-top:1em;
}

.section_text
{
	font-size:1em;
	margin-top:1em;
}

.section_text p 
{ 
	text-indent : 1em; 
	margin-top:1em;
	margin-bottom:0.3em;
}

.section_pdf
{
	font-size:1em;
	padding-left: 1em;
}
