
.front_matter_page
{
	margin-top: 2.5em;
}

.title_page
{
	margin-top: 5em;
	text-align:center;
}

.title_page.only_image
{
	margin-top: 0;
}

.only_image .bookname3,
.only_image .bookname,
.only_image .bookname2,
.only_image .currency
{
	display: none;
}

.only_image .image_container_center img
{
	height: 80vh;
}

.copyright_page
{
	margin-top: 5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align:center;
}

.additional_front_matter_page
{
	margin-top: 2em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align:left;
}

.research_assistance_page
{
	margin-top: 5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

.westlaw_next_page
{
	margin-top: 2em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align:left;
}

.bookname
{
	font-size:4em;
	font-weight: bold;
}

.bookname p,
.bookname2 p,
.bookname3 p,
.currency p,
.authorInfo p,
.copyright p,
.copyright_patent p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	min-height: 1em;
}

.bookname2
{
	font-size:2.5em;
	font-weight: bold;
	margin-top:2em;
}

.bookname3
{
	font-size:1.5em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.currency
{
	font-size:1.5em;
	font-weight: bold;
	margin-top: 1em;
}

.author1
{
	font-size:1.2em;
	font-weight: bold;
	margin-top: 1.5em;
}

.authorInfo
{
	font-size:1em;
	font-weight: normal;
	margin-top: 0.3em;
}

.authorNext
{
	font-size:1.2em;
	font-weight: bold;
	margin-top: 0.8em;
}

.logo
{
	margin-top:3em;
}

.copyright
{
	font-size:1em;
	line-height:1.5em;
}

.copyright_page_text
{
	font-size:1em;
	margin-top: 1em;
	text-align:left;
	line-height:1.5em;
}

.copyright_page_text p
{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	min-height: 1em;
}

.copyright_disclaimer
{
	font-size:1em;
	margin-top: 1em;
	text-align:left;
	line-height:1.5em;
}

.isbn
{
	margin-top:1.5em;
}

.copyright_patent
{
	font-size:1.2em;
	margin-top:1.5em;
}

.research_assistance_title
{
	font-size:1.2em;
	font-weight: bold;
	margin-top:1.5em;
	margin-bottom:2em;
}

.research_assistance_text
{
	font-size:1em;
	text-align:left;
	margin-top:1em;
}

.research_assistance_homepage
{
	font-size:1em;
	text-align:left;
	margin-top:1em;
}

.westlawNext_text
{
	margin-top: 1em;
}

.westlawNext_indent
{
	padding-left: 1em;
}

.additional_front_matter_title
{
	font-size:1.5em;
	font-weight: bold;
	margin-top:1em;
	margin-bottom:2em;
}

.section_heading
{
	font-size:1.2em;
	font-weight: bold;
	margin-top:1em;
}

.section_text
{
	font-size:1em;
	margin-top:1em;
}

.section_text p
{
	text-indent : 1em;
	margin-top:1em;
	min-height: 1em;
}

.section_pdf
{
	font-size:1em;
	padding-left: 1em;
}

.contacts-table {
	width: 100%;
	border-spacing: 0 -0.51em;
	border-collapse: separate;
	border-width: 0;
	margin: 0.5em 0 0;
}

.contacts-table td:nth-child(even) {
	text-align: right;
	vertical-align: top;
	width: 60%;
	padding: 2px;
}

.contacts-table td:nth-child(odd) {
	text-align: left;
	vertical-align: top;
	width: 40%;
	padding: 2px;
}

.contacts-table-header {
	border-bottom: 1px solid black;
	margin: 6em 0 0.5em;
}
