<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM/dd HH:mm:ss.SSS} %-5p %C{1}.%M: %m%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger level="DEBUG" name="com.thomsonreuters.uscl.ereader" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
