.cgt {
    .fm_title_page .text_line &,
    .primary_outline_name_block>&,
    .fm_related_products_boilerplate>&,
    .footnote>.er_rp_search_volume_content_data>& {
        display: inline;
    }
    .xref+& {
        display: block;
        float: right;
    }
    .toc_primary_hierarchy>.primary_outline_name_block>.primary_name~&,
    .toc_primary_hierarchy>.toc_appendix_block>.toc_appendix>.outline_name_block>.designator>&,
    .toc_primary_source .primary_outline_name_block>& {
        display: none;
    }
    .footnote>& {
        display: block;
        width: 100%;
    }
}