@import "~/constants";
.primary_hierarchy_front,
.primary_section_body {
    margin-bottom: #{$indent}em;
}

.primary_outline_name_block>.label {
    display: inline !important;
}

.primary_section_front .primary_name {
    display: inline;
}

.name {
    .primary_name & {
        display: inline;
    }
    .primary_section .primary_name>& {
        white-space: pre-line;
    }
}

.designator {
    .primary_source_body .primary_hierarchy_body>.primary_section>.primary_section_front>.primary_outline_name_block>& {
        min-width: 0;
        margin: 0;
    }
}

.cite {
    display: inline;
}

.stat_subsect {
    .primary_section_body>.primary_official_content>& {
        margin: 0;
        padding: 0;
    }
}

.stat_subpara {
    .primary_section_body>.primary_official_content>.stat_subsect>.stat_para>.stat_name_block~& {
        clear: left;
    }
}