@import "~/constants";
.primary_hierarchy_front,
.primary_section_body {
    margin-bottom: #{$indent}em;
}

.primary_outline_name_block>.label {
    display: inline !important;
}

.primary_name {
    .primary_section_front & {
        display: inline;
    }
    .publication>.publication_body>.primary>.primary_source>.primary_source_body .primary_hierarchy>.primary_hierarchy_body>.primary_hierarchy>.primary_hierarchy_front>.primary_outline_name_block>& {
        display: inline;
        white-space: normal;
    }
    .primary_hierarchy_front>.generated_toc>.full_toc>.toc_primary_hierarchy>a>.c>& * {
        display: inline;
    }
    .primary_hierarchy_front>.generated_toc>.full_toc>.toc_primary_hierarchy>a>.c>& {
        display: inline;
    }
    .toc_primary_section>a>.primary_outline_name_block>& {
        display: inline;
        margin-left: auto;
    }
    .primary_hierarchy_body>.primary_hierarchy>.metadata_block+.primary_hierarchy_front>.primary_outline_name_block>& {
        display: block !important;
    }
}

.name {
    .primary_name & {
        display: inline;
    }
    .primary_section .primary_name>& {
        white-space: pre-line;
    }
    .publication>.publication_body>.primary>.primary_source>.primary_source_body>.primary_hierarchy>.primary_hierarchy_front>.primary_outline_name_block>.primary_name>& {
        white-space: normal;
    }
    .toc_primary_section>a>.primary_outline_name_block>.primary_name>& {
        white-space: pre-wrap;
    }
}

.designator {
    .primary_source_body .primary_hierarchy_body>.primary_section>.primary_section_front>.primary_outline_name_block>&,
    .publication>.publication_body>.primary>.primary_source>.primary_source_body>.primary_hierarchy>.primary_hierarchy_body>.primary_hierarchy>.primary_hierarchy_front>.primary_outline_name_block>&,
    .publication>.publication_body>.primary>.primary_source>.primary_source_body>.primary_hierarchy>.primary_hierarchy_front>.primary_outline_name_block>& {
        min-width: 0;
        margin: 0;
    }
    .publication>.publication_body>.primary>.primary_source>.primary_source_body>.primary_hierarchy>.primary_hierarchy_body>.primary_head>.name_block>& {
        margin-right: #{$indent * 0.5}em;
    }
    .primary_hierarchy_front>.primary_outline_name_block>& {
        min-width: 0;
        margin-right: 0;
    }
    .primary_hierarchy_front>.generated_toc>.full_toc>.toc_primary_hierarchy>a>.c>& {
        min-width: 0;
        display: inline;
        margin-right: 0;
    }
    .toc_primary_hierarchy>.toc_primary_section>.toc_editorial_commentary_section>a>.editorial_outline_name_block>& {
        display: inline-block;
    }
    .toc_primary_section .primary_outline_name_block & {
        margin-right: 0;
    }
}

.cite {
    display: inline;
}

.stat_subsect {
    .primary_section_body>.primary_official_content>& {
        margin: 0;
        padding: 0;
    }
}

.stat_subpara {
    .primary_section_body>.primary_official_content>.stat_subsect>.stat_para>.stat_name_block~& {
        clear: left;
    }
}

.stat_name_block {
    .publication>.publication_back>.appendix_block>.appendix_front>.appendix>.appendix_body>.stat_structure>.stat_chapter>& {
        text-align: center;
        float: none;
    }
    .publication>.publication_back>.appendix_block>.appendix_front>.appendix>.appendix_body>.stat_structure>.stat_chapter>.stat_section>&,
    .publication>.publication_back>.appendix_block>.appendix_front>.appendix>.appendix_body>.stat_structure>.stat_chapter>.stat_section_repealed>& {
        text-align: left;
        float: none;
    }
}

.primary_outline_name_block {
    .publication>.publication_body>.primary>.primary_source>.primary_source_body>.primary_hierarchy>.primary_hierarchy_front>&,
    .publication>.publication_body>.primary>.primary_source>.primary_source_body>.primary_hierarchy>.primary_hierarchy_front>& * {
        text-align: center;
    }
    .primary_hierarchy>.primary_hierarchy_front>& {
        text-align: center;
    }
    .toc_primary_section>a>& * {
        display: inline;
        margin: 0;
    }
    .primary_hierarchy_front>.generated_toc>.full_toc>.toc_primary_hierarchy>.toc_primary_section>a>& {
        text-align: center;
    }
    .primary_hierarchy>.primary_hierarchy_body>.primary_section>.primary_section_front>& * {
        display: inline;
    }
}

.name {
    .publication>.publication_body>.primary>.primary_source>.primary_source_body>.primary_hierarchy>.primary_hierarchy_front>.primary_outline_name_block>.primary_name>& {
        flex-grow: 1;
    }
}

.l1 {
    text-indent: #{$indent}em;
}

.l1>.name_block {
    display: block;
}

.t {
    .primary_hierarchy_front>.generated_toc>.full_toc>.toc_primary_hierarchy>a>.c>.primary_name>.name>&:last-child,
    .primary_outline_name_block>.primary_name>.name>&:last-child {
        display: block;
    }
    .primary_section_front>.primary_outline_name_block>.primary_name>.name>&:only-child,
    .primary_hierarchy_front>.primary_outline_name_block>.primary_name>.name>&:only-child,
    .toc_primary_section .primary_outline_name_block>.label~.designator~.primary_name>.name>&,
    .primary_hierarchy_front .primary_outline_name_block>.label~.designator~.primary_name>.name>& {
        display: inline;
    }
}

.toc_primary_section {
    .primary_source>.primary_source_body .primary_hierarchy_body>.primary_hierarchy>.primary_hierarchy_front>.generated_toc>.full_toc>& {
        align-items: baseline;
        display: block;
    }
    .primary_source>.primary_source_body .primary_hierarchy_body>.primary_hierarchy>.primary_hierarchy_front>.generated_toc>.full_toc>& * {
        display: inline;
        white-space: pre-line;
    }
}

.cone {
    text-align: center;
    display: block !important;
}