<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jee="http://www.springframework.org/schema/jee"
  	   xmlns:tx="http://www.springframework.org/schema/tx"
  	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  	   xsi:schemaLocation="http://www.springframework.org/schema/beans
  	   					   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        				   http://www.springframework.org/schema/jee
        				   http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
        				   http://www.springframework.org/schema/tx
        				   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

  	<!-- Data source from naming service (JNDI) -->
	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/DataSource" resource-ref="true"/>

	<!--
		Hibernate session factory definition that uses annotations in the entities to map to tables/columns.
	-->
  	<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
	      <props>
	      	<prop key="hibernate.show_sql">${hibernate.show.sql}</prop>
	        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
	      	<prop key="hibernate.cache.provider_class">${hibernate.cache.provider.class}</prop>
	      </props>
		</property>
		<property name="annotatedClasses">
		  <list>
		    <value>com.thomsonreuters.codes.security.authentication.cas.TicketEntity</value>		    
		  </list>
		</property>
  	</bean>

	<!-- Transaction Manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		  p:sessionFactory-ref="hibernateSessionFactory"/>
	<!-- Enable the configuration of transactional behavior based on @Transactional annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
  	
    <bean id="ticketRegistryDao" class="com.thomsonreuters.codes.security.authentication.cas.TicketRegistryDaoImpl">
    	<constructor-arg ref="hibernateSessionFactory"/>
    </bean>
	
</beans>