// common
$header-size: 1.3em;
$indent: 1em;
$margin-left-primary: 20%;
$margin-right-primary: $margin-left-primary;
$margin-top-primary: 10%;
$margin-bottom-primary: $margin-top-primary;
$cgt-color: black;
@mixin margins() {
    margin-left: $margin-left-primary;
    margin-right: $margin-right-primary;
    margin-top: $margin-top-primary;
    margin-bottom: $margin-bottom-primary;
}

.root {
    @include margins();
    text-align: justify;
}

.page {
    display: flex;
    justify-content: space-between;
}

.page_block {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 $indent 0 $indent;
}

.inline_instr {
    font-style: italic;
    display: inline;
}

.c {
    text-align: center;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}

.metadata_block,
.online_view,
.publication_front>.outline_name_block {
    display: none;
}

.ref:link,
.ref:active,
.ref:visited,
.ref:hover {
    color: black;
    text-decoration: none;
}

.outline_name_block {
    display: flex;
    align-items: baseline;
}

.designator {
    display: inline-block;
    align-items: baseline;
    flex-grow: 0;
}
.bold {
    font-weight: bold;
}

.front {
    margin: $indent 0;
}

.label,
.designator {
    flex-shrink: 0;
}

.cgt {
    color: $cgt-color;
    display: none;
}

.name_block_1 {
    display: inline;
}
// TOC
.outline_name_block {
    .toc_analytical_hierarchy>& {
        font-size: $header-size;
    }
    .front>& {
        display: block;
    }
}

.toc_analytical_hierarchy {
    margin-bottom: $indent;
}

.name {
    .toc_analytical_hierarchy & {
        display: inline;
        text-transform: uppercase;
        font-weight: bold;
    }
    .toc_section & {
        font-weight: normal;
        text-transform: none;
    }
    .name_block>& {
        font-style: italic;
        font-weight: normal;
        text-indent: $indent;
    }
    .toc_appendix & {
        display: inline;
        font-weight: normal;
    }
    .chapter>.front>.outline_name_block>& {
        display: block;
        font-weight: bold;
        margin: $indent 0;
    }
}

.designator {
    .toc_analytical_hierarchy & {
        font-weight: bold;
        margin-right: calc(#{$indent}/2);
    }
    .toc_section & {
        font-weight: normal;
        min-width: calc(#{$indent}*3);
    }
    .toc_appendix & {
        font-weight: normal;
        margin-right: $indent;
    }
    .form_item & {
        display: inline;
    }
}

.label {
    .toc_section & {
        width: fit-content;
    }
    .toc_appendix & {
        margin-right: calc(#{$indent}/2);
    }
    .front>.outline_name_block>& {
        display: inline;
        margin-right: calc(#{$indent}/2);
    }
}

.cgt {
    .research_reference_block & {
        font-weight: bold;
    }
    .label>&,
    .name>&,
    .designator>&,
    .research_reference_block & {
        display: inline;
    }
}

//----------------------------------------------------------------------- main content
.para_text {
    text-indent: $indent;
    * {
        display: inline;
    }
}

.name {
    .analytical_hierarchy & {
        display: inline;
    }
    .analytical_hierarchy>.front>.outline_name_block & {
        font-weight: bold;
    }
    .appendix_front & {
        display: block;
    }
}

.designator {
    .analytical_hierarchy .front & {
        font-weight: bold;
        margin-right: $indent;
    }
    .section_front & {
        margin-right: calc(#{$indent}/2);
    }
}

.ital {
    display: inline;
    font-style: italic;
}

.cgt {
    .para_text & {
        vertical-align: super;
        font-size: calc(#{$indent}/2);
        font-weight: bold;
    }
    .para_text>a & {
        font-size: initial;
        vertical-align: initial;
    }
    .section_front & {
        font-weight: normal;
    }
    .reference_entry &,
    .entry & {
        display: inline;
    }
}

.section_front {
    font-weight: bold;
    display: flex;
    margin: $indent 0;
}

.xref {
    &:empty {
        display: none;
    }
}

.outline_name_block {
    .front>& {
        font-size: $header-size;
    }
}

.table {
    margin: $indent 0;
}

.tbl_name {
    margin: $indent auto;
    width: auto;
    text-align: center;
}

.tgroup {
    display: table;
    justify-content: space-between;
    .signature_block &,
    .form_para>.tbl & {
        width: 100%;
    }
}

.thead {
    display: table-header-group;
    text-align: center;
}

.tbody {
    display: table-row-group;
    .signature_block &,
    .form_para>.tbl & {
        display: flex;
        flex-direction: column;
    }
}

.row {
    display: table-row;
    .signature_block &,
    .form_para>.tbl & {
        display: flex;
    }
}

.entry {
    display: table-cell;
    text-align: left;
    padding: 0 $indent 0 $indent;
    .signature_block &,
    .form_para>.tbl & {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .section_body .thead & {
        border-bottom: calc(#{$indent} / 10) solid black;
    }
}

.entry:first-of-type {
    padding-left: 0;
}

.entry:last-of-type {
    padding-right: 0;
}

.entry:empty {
    .section_body .thead & {
        border: none;
    }
}

.name_block {
    margin-right: calc(#{$indent} / 2);
    .form_item>& {
        margin: 0;
    }
    .list_item>& {
        display: inline;
    }
}

.para_text {
    .list_item & {
        text-indent: 0;
    }
}

.para {
    .list_item>&,
    .list_item>& * {
        display: inline;
    }
}

.list_item {
    margin-left: $indent;
    display: list-item;
    list-style: none;
}

//------------------------------------------------------------------------------------------- appendix
.outline_name_block {
    .appendix_front>& {
        margin: $indent 0;
    }
    .appendix_front>&,
    .toc_appendix_block>& {
        display: block;
        font-weight: bold;
        font-size: $header-size;
        margin: $indent 0;
    }
    .appendix_section_front>& {
        font-weight: bold;
        margin: $indent $indent 0 0;
    }
}

.name {
    .toc_appendix_block>.outline_name_block>& {
        text-transform: uppercase;
    }
    .stat_name_block>.name_block>& {
        display: inline;
        margin-left: $indent;
        .bold {
            display: inline;
        }
    }
    .form_name_block>& {
        text-align: center;
    }
    .stat_head>.name_block>& {
        font-weight: bold;
        font-style: normal;
        text-align: center;
        text-indent: 0;
    }
}

.designator {
    .toc_appendix & {
        min-width: calc(#{$indent}*2);
        max-width: calc(#{$indent}*2);
    }
    .appendix_section_front & {
        margin-right: $indent;
    }
}

.label {
    .appendix & {
        display: inline-block;
    }
    .appendix_front & {
        margin-right: $indent;
    }
    .appendix_front>.outline_name_block>& {
        margin-bottom: calc(#{$indent} / 2);
    }
}

.form_text {
    display: inline;
}

.form_item {
    display: block;
    flex-wrap: wrap;
    .name_block {
        flex: 0;
        max-width: fit-content;
        display: inline;
        .ital {
            display: inline-flex;
        }
    }
    .pagebreak {
        display: block;
    }
}

.form_name_block {
    margin: calc(#{$indent} /2) auto;
}

.form_para {
    .form_item>& {
        display: inline;
        text-indent: 0;
        margin: 0;
    }
    .form_unit>& {
        margin: 0;
    }
    text-indent: $indent;
    margin: calc(#{$indent} / 5) 0;
}

.form_para+.form_para {
    display: block;
}

.form_line {
    a {
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    .caption_block & {
        display: block;
        margin: 0 auto;
    }
    .stat_subsect>.form>& {
        margin: $indent 0;
    }
}

.cgt {
    .signature_block .form_line>& {
        display: block;
    }
    .form_line &,
    .stat_subsect .form_text>&,
    .stat_subsect>.form>.caption_block,
    .designator,
    .stat_text>& {
        display: inline;
    }
    .appendix_section_body .stat_para>.stat_text>a~& {
        vertical-align: super;
        font-size: calc(#{$indent} / 2);
        display: inline;
    }
    .leaveout>&,
    .leaveout+&,
    .form &+& {
        display: inline;
        color: transparent;
        border-bottom: calc(#{$indent} / 20) solid $cgt-color;
    }
}

.stat_text_1 {
    vertical-align: super;
    font-size: calc(#{$indent} / 2);
    display: inline;
}

.ref_6 {
    display: inline;
}

.form_vertical_space {
    margin: $indent 0;
}

.leaveout {
    display: inline-flex;
    align-items: flex-end;
    overflow: hidden;
    .stat_structure .form_line &,
    .stat_subsect .form_text>&,
    .stat_subsect>.form>.caption_block & {
        display: inline;
        min-width: 0;
        border-bottom: none;
    }
}

.leaveout_block {
    display: inline;
}

.name_block {
    .stat_name_block>& {
        display: inline;
        margin: 0;
    }
}

.stat_text,
.stat_name_block {
    padding-left: 0;
}

.stat_name_block {
    float: left;
}

.stat_subsect,
.stat_para,
.stat_subpara,
.stat_cl,
.stat_subcl {
    display: list-item;
    list-style: none;
    text-indent: $indent;
    padding-left: $indent;
}