.no-indent:first-child {
  margin-left: calc(-1.1 * 1em);
}

.publication {
  text-align: justify;
}

.page {
  display: flex;
  justify-content: space-between;
}

.page_block {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 1em 0 1em;
}

.inline_instr {
  display: inline;
}

.c {
  text-align: center !important;
}

.c * {
  text-align: center !important;
}

.l {
  text-align: left !important;
}

.l * {
  text-align: left !important;
}

.r {
  text-align: right !important;
}

.r * {
  text-align: right !important;
}

.metadata_block,
.online_view,
.publication_front > .outline_name_block {
  display: none;
}

.ref:link,
.ref:active,
.ref:visited,
.ref:hover {
  color: black;
  text-decoration: none;
}

.outline_name_block {
  display: inline-flex;
  align-items: baseline;
}

.designator {
  display: inline-block;
  align-items: baseline;
  flex-grow: 0;
}

.front {
  margin: 1em 0;
}

.ital {
  display: inline;
}

.label,
.designator {
  flex-shrink: 0;
}

.cgt {
  color: inherit;
  display: none;
}

.name_block_1 {
  display: inline;
}

.sub,
.sub * {
  vertical-align: sub;
}

.super,
.super * {
  vertical-align: super;
}

.font_dt {
  display: none !important;
}

.font_dt:last-child {
  display: inline !important;
}

.TLRkey {
  height: 8px;
  vertical-align: middle;
  width: 16px;
}

.toc_analytical_hierarchy {
  margin-bottom: 1em;
}

.toc_analytical_hierarchy .name {
  display: inline;
  text-transform: uppercase;
}

.toc_section .name {
  text-transform: none;
}

.name_block > .name {
  text-indent: 1em;
}

.toc_appendix .name {
  display: inline;
}

.chapter > .front > .outline_name_block > .name {
  display: block;
  margin: 1em 0;
}

.toc_analytical_hierarchy .designator {
  margin-right: calc(1em/2);
}

.toc_section .designator {
  min-width: calc(1em*3);
}

.toc_appendix .designator {
  margin-right: 1em;
}

.form_item .designator {
  display: inline;
}

.toc_section .label {
  width: fit-content;
}

.toc_appendix .label {
  margin-right: calc(1em/2);
}

.front > .outline_name_block > .label {
  display: inline;
  margin-right: calc(1em/2);
}

.front > .outline_name_block {
  display: block;
}

.para_text {
  text-indent: 1em;
}

.para_text * {
  display: inline;
}

.analytical_hierarchy .name,
.outline_name_block .name {
  display: inline;
}

.appendix_front .name {
  display: block;
}

.analytical_hierarchy .front .designator {
  margin-right: 1em;
}

.section_front .designator {
  margin-right: calc(1em/2);
}

.section_front {
  display: flex;
  margin: 1em 0;
}

.xref:empty {
  display: none;
}

.tbl_name {
  margin: 1em auto;
  width: auto;
  text-align: center;
}

table {
  justify-content: space-between;
}

.signature_block table,
.form_para > .tbl table {
  width: 100%;
}

thead {
  text-align: center;
}

.signature_block tr,
.form_para > .tbl tr {
  display: flex;
}

td {
  text-align: left;
  padding: 0 1em 0 1em;
}

.signature_block td,
.form_para > .tbl td {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.section_body thead td {
  border-bottom: calc(1em / 10) solid black;
}

td:first-of-type {
  padding-left: 0;
}

td:last-of-type {
  padding-right: 0;
}

.section_body thead td:empty {
  border: none;
}

.name_block {
  margin-right: calc(1em / 2);
}

.form_item > .name_block {
  margin: 0;
}

.list_item > .name_block {
  display: inline;
}

.list_item .para_text {
  text-indent: 0;
}

.list_item > .para,
.list_item > .para * {
  display: inline;
}

.list_item {
  margin-left: 1em;
  display: list-item;
  list-style: none;
}

.quote_para {
  margin: 1em;
  text-indent: 0;
}

.appendix_front > .outline_name_block {
  margin: 1em 0;
  display: block;
}

.appendix_front > .outline_name_block,
.toc_appendix_block > .outline_name_block {
  margin: 1em 0;
}

.appendix_section_front > .outline_name_block {
  margin: 1em 1em 0 0;
}

.toc_appendix_block > .outline_name_block > .name {
  text-transform: uppercase;
}

.stat_name_block > .name_block > .name {
  display: inline;
  margin-left: 1em;
}

.stat_name_block > .name_block > .name .bold {
  display: inline;
}

.form_name_block > .name {
  text-align: center;
}

.stat_head > .name_block > .name {
  font-style: normal;
  text-align: center;
  text-indent: 0;
}

.toc_appendix .designator {
  min-width: calc(1em*2);
  max-width: calc(1em*2);
}

.appendix_section_front .designator,
.form_item .designator {
  margin-right: 1em;
}

.appendix .label {
  display: inline-block;
}

.appendix_front .label {
  margin-right: 1em;
}

.appendix_front > .outline_name_block > .label {
  margin-bottom: calc(1em / 2);
}

.form_item {
  margin-left: 1em;
}

.form_para,
.form_para * {
  display: inline;
}

.name_block {
  display: inline-block;
  min-width: calc(1em / 1.5);
}

.form_name_block {
  margin: calc(1em /2) auto;
}

.form_para + .form_para {
  display: block;
}

.form_line a {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.caption_block .form_line {
  display: block;
  margin: 0 auto;
}

.stat_subsect > .form > .form_line {
  margin: 1em 0;
}

.form_line .leaveout + .t {
  display: inline;
}

.stat_text_1 {
  vertical-align: super;
  display: inline;
}

.ref_6 {
  display: inline;
}

.leaveout {
  display: inline-flex;
  align-items: flex-end;
  vertical-align: sub;
  overflow: hidden;
}

.stat_structure .form_line .leaveout,
.stat_subsect .form_text > .leaveout,
.stat_subsect > .form > .caption_block .leaveout {
  display: inline;
  min-width: 0;
  border-bottom: none;
}

.leaveout * {
  text-indent: 0;
}

.leaveout_block {
  display: inline;
}

.stat_name_block > .name_block {
  display: inline;
  margin: 0;
}

.stat_text,
.stat_name_block {
  padding-left: 0;
}

.stat_name_block {
  float: left;
}

.stat_subsect,
.stat_para,
.stat_subpara,
.stat_cl,
.stat_subcl {
  display: list-item;
  list-style: none;
  text-indent: 1em;
  padding-left: 1em;
}

.frontmatter {
  text-align: justify;
}

.text_line,
.endline {
  display: block;
}

.fm_date_variable,
.fm_variable,
.fm_copyright_page .cgt {
  display: inline;
}

.fm_copyright_clearance {
  margin-top: calc(1em * 2);
}

.fm_title_page > .text_line:first-of-type > .t:last-of-type {
  border-bottom: solid calc(1em/10);
  padding-bottom: calc(1em/10);
}

.pre_leading_1p {
  margin-top: 1em;
}

.pre_leading_2p {
  margin-top: calc(1em*2);
}

.pre_leading_8q {
  margin-top: calc(1em*0.8);
}

.pre_leading_2_6p {
  margin-top: calc(1em*2.6);
}

.pre_leading_12p {
  margin-top: calc(1em*12);
}

.leaveout .cgt,
.fixed_footnote_reference .cgt,
.form_line .cgt,
.form_vertical_space .cgt,
.form_line > .leaveout .cgt,
.front .cgt,
.ref .cgt,
.name_block .cgt,
.outline_name_block > .designator .cgt,
.outline_name_block > .name .cgt,
.para_text > .ref .cgt,
.entry .cgt,
.stat_text .cgt,
.cgt tgroup > .tbody,
.outline_name_block > .label .cgt,
.toc_chapter > .outline_name_block > .cgt,
.footnote_reference > .cgt,
.mte2 > .cgt,
sup .cgt,
thead > tr > td > .cgt {
  display: inline;
}

.signature_group > .form_line .cgt,
.summary_toc > .cgt,
.footnote > .cgt,
.toc_volbreak > .cgt {
  display: block;
}

.entry .leaveout + .cgt,
.entry .cgt + .cgt,
.name_block > .designator + .cgt,
.toc_analytical_hierarchy .cgt,
.stat_head .name_block .cgt,
.full_toc .designator + .cgt {
  display: none;
}

.full_toc .name *,
.full_toc .name {
  text-indent: 0;
}

.toc_volbreak {
  margin-top: 1em;
}

.toc_volbreak * {
  text-align: center;
}

.toc_volbreak:first-of-type {
  margin-top: 0;
}

.toc_chapter .outline_name_block {
  display: inline-flex;
}

.toc_analytical_level > .toc_analytical_level > .outline_name_block {
  margin-left: 1em;
}

.toc_chapter .designator {
  min-width: calc(1em * 2);
}

.generated_toc .toc_appendix .designator,
.full_toc .toc_section .designator {
  max-width: none;
  min-width: calc(1em * 3.15);
}

.toc_analytical_level .designator {
  min-width: 0;
}

.toc_section:last-of-type {
  margin-bottom: 1em;
}

.toc_chapter > .toc_appendix_block {
  margin-left: calc(1em * 1.5);
}

.INDEX {
  margin-top: 1em;
}

.INDEX .l2, .INDEX .l3, .INDEX .l4 {
  margin-left: 1em;
}

.INDEX .CITE {
  display: inline;
}

.INDEX .mte2 .linebreak + span {
  margin-left: 1em;
}

.INDEX .l2 .mte2 {
  margin-left: calc(1em * -1);
}

.INDEX .l3 .mte2 {
  margin-left: calc(1em * -2);
}

.INDEX .l4 .mte2 {
  margin-left: calc(1em * -3);
}

.footnote > sup {
  display: inline;
  margin-left: calc(1em*2.2);
}

sup, sup * {
  display: inline !important;
}

.footnote_body {
  display: inline;
}

.footnote_body .para_text {
  display: inline;
}

.footnote .research_reference_block {
  margin: 0;
}

.footnote {
  text-align: justify;
}

.footnote_body .para {
  display: block;
  text-indent: calc(1em*2.3);
}

sup + .footnote_body > .para:first-child {
  display: inline;
  text-indent: 0;
}

.reference_entry_group > .name_block,
.name_block * {
  display: inline;
}

.reference_entry_group > .name_block {
  margin-left: calc(1em*2.3);
  margin-right: 0;
}

.reference_entry,
.reference_entry * {
  display: inline;
}

.research_reference_block {
  display: inline;
}

.footnote_body > .research_reference_block {
  margin-left: calc(1em*2.3);
}

.page_number {
  display: block;
  text-align: center;
}

.er_rp_ftbox_content .footnote_body {
    display:none;
}

.er_rp_ftbox_content .footnote_body_main_popup_pane {
    display:inline;
}

.tr_footnotes .footnote_body {
    display:inline;
}

.tr_footnotes .footnote_body_main_popup_pane {
    display:none;
}
