.cgt {
    .mixed_pub_types .generated_toc>.full_toc>.toc_mixed_hierarchy>.toc_primary_source>.toc_primary_hierarchy>.toc_primary_hierarchy>.toc_primary_section .primary_outline_name_block>.label>&,
    .mixed_pub_types .primary_outline_name_block>.label>&,
    .mixed_pub_types .primary_section_body>.primary_features>.primary_references>.research_reference_block>&,
    .mixed_pub_types .keycite_box &,
    .mixed_pub_types .research_reference_block & {
        display: inline;
    }
    .mixed_pub_types .section_front>.outline_name_block>.name>& {
        display: none;
    }
    .column>.tr_footnote>.footnote>& {
        width: initial;
    }
}