@import "constants.scss";
.no-indent {
    & {
        display: none !important;
    }
    &:first-child,
    a+&:nth-child(2),
    .footnote_body & {
        display: block !important;
    }
}

.publication {
    text-align: justify;
}

.page {
    display: flex;
    justify-content: space-between;
}

.page_block {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 $indent 0 $indent;
}

.inline_instr {
    display: inline;
}

.c {
    text-align: center !important;
    * {
        text-align: center !important;
    }
}

.l {
    text-align: left !important;
    * {
        text-align: left !important;
    }
}

.r {
    text-align: right !important;
    * {
        text-align: right !important;
    }
}

.metadata_block,
.online_view,
.publication_front>.outline_name_block {
    display: none;
}

.ref:link,
.ref:active,
.ref:visited,
.ref:hover {
    text-decoration: none;
}

.outline_name_block {
    display: inline-flex;
    align-items: baseline;
}

.designator {
    display: inline-block;
    align-items: baseline;
    flex-grow: 0;
}

.front {
    margin: $indent 0;
}

.ital {
    display: inline;
}

.label,
.designator {
    flex-shrink: 0;
}

.cgt {
    display: none;
}

.name_block_1 {
    display: inline;
}

.sub,
.sub * {
    vertical-align: sub;
}

.super,
.super * {
    vertical-align: super;
}

.font_dt {
    display: none !important;
}

.last_dt:last-child,
.last_dt:nth-last-child(2) {
    display: inline !important;
}

.TLRkey {
    height: 8px;
    vertical-align: middle;
    width: 16px;
}