@import "constants.scss";
sup {
    .footnote>& {
        display: block;
        height: 0;
        text-indent: calc(#{$indent} * 2.3);
        width: 100%;
    }
}

.para_text {
    .footnote_body & {
        display: inline;
    }
}

.footnote {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}

.para {
    .footnote_body & {
        display: block;
        text-indent: calc(#{$indent}*2.3);
    }
}

.para:first-child {
    sup+.footnote_body>& {
        display: inline;
        text-indent: 0;
    }
}

.name_block {
    & * {
        display: inline;
    }
    .reference_entry_group>& {
        margin-left: calc(#{$indent}*2.3);
        margin-right: 0;
        display: inline-block;
    }
}

.reference_entry {
    &,
    & * {
        display: inline;
    }
}

.research_reference_block {
    display: inline;
    .footnote & {
        margin: 0;
    }
}

.page_number {
    display: block !important;
    text-align: center;
    margin: auto;
}

.footnote_body {
    text-align: justify;
    display: none;
    .tr_footnotes & {
        display: block;
    }
    a+& {
        margin: auto;
    }
    &.show_in_main_and_footnotes {
        display: block;
    }
}

.show_in_main {
    display: block;
    .tr_footnotes & {
        display: none;
    }
}

.show_in_footnotes {
    display: none;
    .tr_footnotes & {
        display: block;
    }
}

.er_rp_search_volume_content_data {
    .footnote>sup~& {
        width: 100%;
    }
    .footnote>& {
        display: inline;
    }
}

.footnoteHidden {
    display: none;
}

.footnote>.er_rp_search_volume_content_data {
    display: inline;
}