@import "constants.scss";
sup {
    .footnote>& {
        display: block;
        height: 0;
        text-indent: #{$indent*2.3}em;
        width: 100%;
        z-index: 2;
    }
}

.para_text {
    .footnote_body & {
        display: inline;
    }
}

.footnote {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}

.para {
    .footnote_body & {
        display: block;
        text-indent: #{$indent*2.3}em;
    }
}

.para:first-child {
    sup+.footnote_body>& {
        display: inline;
        text-indent: 0;
    }
}

.name_block {
    & * {
        display: inline;
    }
    .reference_entry_group>& {
        margin-left: #{$indent*2.3}em;
        margin-right: 0;
        display: inline-block;
    }
}

.reference_entry {
    &,
    & * {
        display: inline;
    }
}

.research_reference_block {
    display: inline;
    .footnote & {
        margin: 0;
    }
}

.page_number {
    display: block !important;
    text-align: center;
    margin: auto;
}

.footnote_body {
    text-align: justify;
    display: none;
    .tr_footnotes & {
        display: block;
    }
    a+& {
        margin: auto;
    }
    &.show_in_main_and_footnotes {
        display: block;
    }
    .chapter>.chapter_body>.section_block>.section>.section_body>.para>.tbl>.fixed_footnote_block>.fixed_footnote & {
        display: inline;
    }
}

.show_in_main {
    display: block;
    .tr_footnotes & {
        display: none;
    }
}

.show_in_footnotes {
    display: none;
    .tr_footnotes & {
        display: block;
    }
}

.er_rp_search_volume_content_data {
    .footnote>sup~& {
        width: 100%;
    }
    .footnote>&,
    .chapter>.chapter_body>.section_block>.section>.section_body>.para>.tbl>.fixed_footnote_block>.fixed_footnote>& {
        display: inline;
    }
}

.footnoteHidden {
    display: none;
}

.footnote>.er_rp_search_volume_content_data {
    display: inline;
}

.fixed_footnote_reference {
    .chapter .chapter_body .section_block .section .section_body  .tbl .fixed_footnote_block .fixed_footnote & {
        display: inline;
        margin-left: #{$indent*2}em;
        margin-right: #{$indent*0.25}em;
    }
}

.tbl .fixed_footnote_block .fixed_footnote .er_rp_search_volume_content_data .footnote_body {
    display: block;
}

.section_body .tbl .fixed_footnote_block .fixed_footnote {
    & .er_rp_search_volume_content_data,
    & .er_rp_search_volume_content_data .footnote_body,
    & .er_rp_search_volume_content_data .footnote_body .para {
        display: inline;
    }
}