@import "constants.scss";
.frontmatter {
    text-align: justify;
}

.text_line,
.endline {
    display: block;
}

.fm_date_variable,
.fm_variable,
.fm_copyright_page .cgt {
    display: inline;
}

.fm_copyright_clearance {
    margin-top: #{$indent * 2}em;
}

.pre_leading_1p {
    margin-top: #{$indent}em;
}

.pre_leading_2p {
    margin-top: #{$indent*2}em;
}

.pre_leading_7p {
    margin-top: #{$indent*7}em;
}

.pre_leading_8q {
    margin-top: #{$indent*0.8}em;
}

.pre_leading_2_6p {
    margin-top: #{$indent*2.6}em;
}

.pre_leading_12p {
    margin-top: #{$indent*12}em;
}

.ebook-isbn {
    text-align: center;
    font-size: #{$indent*0.7}em;
    margin-top: 1em;
}

.ebook-isbn-label {
    font-weight: bold;
    display: inline-block;
}