@import "constants.scss";
.para_text {
    text-indent: #{$indent}em;
    * {
        display: inline;
    }
}

.name {
    .analytical_hierarchy &,
    .outline_name_block & {
        display: inline;
    }
    .appendix_front & {
        display: block;
    }
}

.designator {
    .analytical_hierarchy .front & {
        margin-right: #{$indent}em;
    }
    .section_front & {
        margin-right: #{$indent/2}em;
    }
}

.section_front {
    display: flex;
    margin: #{$indent}em 0;
}

.xref {
    &:empty {
        display: none;
    }
}

.tbl_name {
    margin: #{$indent}em auto;
    width: auto;
    text-align: center;
}

table {
    justify-content: space-between;
    .signature_block &,
    .form_para>.tbl & {
        width: 100%;
    }
}

thead {
    text-align: center;
}

tr {
    .signature_block &,
    .form_para>.tbl & {
        display: flex;
    }
}

td {
    text-align: left;
    padding: 0 #{$indent}em 0 #{$indent}em;
    .signature_block &,
    .form_para>.tbl & {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .section_body thead & {
        border-bottom: #{$indent / 10}em solid black;
    }
}

td:first-of-type {
    padding-left: 0;
}

td:last-of-type {
    padding-right: 0;
}

td:empty {
    .section_body thead & {
        border: none;
    }
}

.name_block {
    margin-right: #{$indent / 2}em;
    .form_item>& {
        margin: 0;
    }
    .list_item>& {
        display: inline;
    }
    .head>& {
        margin-left: #{$indent}em;
        margin-top: #{$indent}em;
    }
}

.para_text {
    .list_item & {
        text-indent: 0;
    }
}

.para {
    .list_item>&,
    .list_item>& * {
        display: inline;
    }
}

.list_item {
    margin-left: #{$indent}em;
    display: list-item;
    list-style: none;
}

.quote_para {
    margin: #{$indent}em;
    text-indent: 0;
    .section_body>.quote_block>& *{
        text-indent: 0;
    }
}