@import "constants.scss";
.para_text {
    text-indent: $indent;
    * {
        display: inline;
    }
}

.name {
    .analytical_hierarchy &,
    .outline_name_block & {
        display: inline;
    }
    .appendix_front & {
        display: block;
    }
}

.designator {
    .analytical_hierarchy .front & {
        margin-right: $indent;
    }
    .section_front & {
        margin-right: calc(#{$indent}/2);
    }
}

.section_front {
    display: flex;
    margin: $indent 0;
}

.xref {
    &:empty {
        display: none;
    }
}

.table {
    margin: $indent 0;
}

.tbl_name {
    margin: $indent auto;
    width: auto;
    text-align: center;
}

.tgroup {
    display: table;
    justify-content: space-between;
    .signature_block &,
    .form_para>.tbl & {
        width: 100%;
    }
}

.thead {
    display: table-header-group;
    text-align: center;
}

.tbody {
    display: table-row-group;
    .signature_block &,
    .form_para>.tbl & {
        display: flex;
        flex-direction: column;
    }
}

.row {
    display: table-row;
    .signature_block &,
    .form_para>.tbl & {
        display: flex;
    }
}

.entry {
    display: table-cell;
    text-align: left;
    padding: 0 $indent 0 $indent;
    .signature_block &,
    .form_para>.tbl & {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .section_body .thead & {
        border-bottom: calc(#{$indent} / 10) solid black;
    }
}

.entry:first-of-type {
    padding-left: 0;
}

.entry:last-of-type {
    padding-right: 0;
}

.entry:empty {
    .section_body .thead & {
        border: none;
    }
}

.name_block {
    margin-right: calc(#{$indent} / 2);
    .form_item>& {
        margin: 0;
    }
    .list_item>& {
        display: inline;
    }
}

.para_text {
    .list_item & {
        text-indent: 0;
    }
}

.para {
    .list_item>&,
    .list_item>& * {
        display: inline;
    }
}

.list_item {
    margin-left: $indent;
    display: list-item;
    list-style: none;
}

.quote_para {
    margin: $indent;
    text-indent: 0;
}