@import "constants.scss";
.name {
    .full_toc & *,
    .full_toc & {
        text-indent: 0;
    }
}

.toc_volbreak {
    & * {
        text-align: center;
    }
    margin-top: #{$indent}em;
}

.toc_volbreak:first-of-type {
    margin-top: 0;
}

.outline_name_block {
    .toc_chapter &,
    .toc_chapter &>a {
        display: inline-flex;
    }
    .toc_analytical_level>.toc_analytical_level>& {
        margin-left: #{$indent}em;
    }
    .toc_wrapper>.generated_toc>.summary_toc>.toc_chapter>a>& {
        display: flex !important;
    }
    .toc_wrapper>.generated_toc>.full_toc>.toc_chapter>a>& {
        display: flex;
    }
    .toc_chapter_reserved & {
        min-width: #{$indent * 5}em;
    }
}

.designator {
    .toc_chapter & {
        min-width: #{$indent * 2}em;
    }
    .generated_toc .toc_appendix &,
    .full_toc .toc_section & {
        max-width: none;
    }
    .toc_analytical_level & {
        min-width: 0;
    }
    .toc_appendix_reserved>a>.outline_name_block>&,
    .toc_section &,
    .toc_analytical_level .toc_section_reserved & {
        margin-right: #{$indent * 0.5}em;
    }
    .generated_toc .toc_appendix &,
    .full_toc .toc_section &,
    .toc_analytical_level .toc_section_reserved & {
        min-width: #{$indent * 3.15}em;
    }
}

.toc_section {
    &:last-of-type {
        margin-bottom: #{$indent}em;
    }
}

.toc_appendix_block {
    .toc_chapter>& {
        margin-left: #{$indent * 1.5}em;
    }
}

.toc_pgno {
    flex-grow: 1;
    text-align: right;
}

.label {
    .toc_appendix_reserved>a>.outline_name_block>&,
    .toc_chapter_reserved .outline_name_block>& {
        margin-right: #{$indent * 0.5}em;
    }
}

.toc_appendix,
.toc_appendix_reserved {
    margin-right: #{$indent * 0.5}em;
}

.font_toc_chapter_reserved,
.font_toc_chapter_reserved_1,
.font_toc_section_reserved {
    display: inline !important;
}