@import "constants.scss";
.name {
    .full_toc & *,
    .full_toc & {
        text-indent: 0;
    }
}

.toc_volbreak {
    & * {
        text-align: center;
    }
    margin-top: #{$indent}em;
}

.toc_volbreak:first-of-type {
    margin-top: 0;
}

.outline_name_block {
    .toc_chapter &,
    .toc_chapter &>a {
        display: inline-flex;
    }
    .toc_analytical_level>.toc_analytical_level>& {
        margin-left: #{$indent}em;
    }
    .toc_wrapper>.generated_toc>.summary_toc>.toc_chapter>a>& {
        display: flex !important;
    }
    .toc_wrapper>.generated_toc>.full_toc>.toc_chapter>a>& {
        display: flex;
    }
}

.designator {
    .toc_chapter & {
        min-width: #{$indent * 2}em;
    }
    .generated_toc .toc_appendix &,
    .full_toc .toc_section & {
        max-width: none;
        min-width: #{$indent * 3.15}em;
    }
    .toc_analytical_level & {
        min-width: 0;
    }
}

.toc_section {
    &:last-of-type {
        margin-bottom: #{$indent}em;
    }
}

.toc_appendix_block {
    .toc_chapter>& {
        margin-left: #{$indent * 1.5}em;
    }
}

.toc_pgno {
    flex-grow: 1;
    text-align: right;
}