@import "constants.scss";
.main_head {
    text-align: center;
}

.generated_case_tbl .tbl_row {
    margin-left: calc(#{$indent} * 2);
}

.tbl_row_ref {
    display: inline;
    &>.t {
        display: inline-block;
    }
    .generated_case_tbl &>.t:first-child,
    .generated_case_tbl &>.repeat_party:first-child>.t {
        text-indent: calc(#{$indent} * -2);
    }
}

.int_ref_list,
.int_ref,
.repeat_party {
    display: inline;
}