@import "constants.scss";
.main_head {
    text-align: center;
}

.tbl_row {
    .generated_case_tbl & {
        margin-left: #{$indent * 2}em;
        text-indent: #{$indent * -2}em;
    }
}

.tbl_row_ref {
    .generated_case_tbl & {
        display: inline;
    }
}

.generated_case_tbl .int_ref_list,
.generated_case_tbl .int_ref,
.generated_case_tbl .repeat_party {
    display: inline;
}