@import "constants.scss";

.toc_analytical_hierarchy {
    margin-bottom: #{$indent}em;
}

.name {
    .toc_analytical_hierarchy & {
        display: inline;
        text-transform: uppercase;
    }
    .toc_section & {
        text-transform: none;
    }
    .name_block>& {
        text-indent: #{$indent}em;
    }
    .toc_appendix & {
        display: inline;
    }
    .chapter>.front>.outline_name_block>& {
        display: block;
        margin: #{$indent}em 0;
    }
}

.designator {
    .toc_analytical_hierarchy & {
        margin-right: #{$indent/2}em;
    }
    .toc_section & {
        min-width: #{$indent*3}em;
    }
    .toc_appendix & {
        margin-right: #{$indent}em;
    }
    .form_item & {
        display: inline;
    }
}

.label {
    .toc_section & {
        width: fit-content;
    }
    .toc_appendix & {
        margin-right: #{$indent/2}em;
    }
    .front>.outline_name_block>& {
        display: inline;
        margin-right: #{$indent/2}em;
    }
}

.outline_name_block {
    .front>& {
        display: block;
    }
}