@import "constants.scss";

.toc_analytical_hierarchy {
    margin-bottom: $indent;
}

.name {
    .toc_analytical_hierarchy & {
        display: inline;
        text-transform: uppercase;
    }
    .toc_section & {
        text-transform: none;
    }
    .name_block>& {
        text-indent: $indent;
    }
    .toc_appendix & {
        display: inline;
    }
    .chapter>.front>.outline_name_block>& {
        display: block;
        margin: $indent 0;
    }
}

.designator {
    .toc_analytical_hierarchy & {
        margin-right: calc(#{$indent}/2);
    }
    .toc_section & {
        min-width: calc(#{$indent}*3);
    }
    .toc_appendix & {
        margin-right: $indent;
    }
    .form_item & {
        display: inline;
    }
}

.label {
    .toc_section & {
        width: fit-content;
    }
    .toc_appendix & {
        margin-right: calc(#{$indent}/2);
    }
    .front>.outline_name_block>& {
        display: inline;
        margin-right: calc(#{$indent}/2);
    }
}

.outline_name_block {
    .front>& {
        display: block;
    }
}