@import "~/constants";
table {
    .fm_other_structure>& {
        margin: auto;
    }
}

tr {
    .fm_other_structure & {
        vertical-align: baseline;
    }
}

.underscore {
    text-decoration: underline;
}

.textrule {
    .fm_related_products & {
        border-bottom: 0.05em solid;
        margin: 1em auto;
        width: 15%;
    }
}

.column .fm_other_structure td>.leader,
.column .fm_other_structure td>.leader>.fillchar {
    display: inline;
}

td {
    .column .fm_other_structure &:nth-child(2) {
        white-space: pre-wrap;
    }
    .column .fm_other_structure & {
        white-space: nowrap;
    }
}

.endline {
    display: block !important;
}