@import "~/constants";
.pji_name {
    display: inline;
    .pji_note_group & {
        display: block;
        text-align: center;
    }
    .pji_section_front .pji_outline_name_block>& {
        display: inline;
    }
    .pji_instruction_body .pji_reference_block>& {
        text-align: initial;
        margin-left: 0;
    }
    .pji_instruction_body & {
        text-align: center;
        margin: calc(#{$indent} * 0.5);
    }
    .pattern_jury_instruction_body .pji_verdict_section_body .pji_references>& {
        display: block;
        text-align: center;
        margin: calc(#{$indent} * 0.5);
    }
}

.designator {
    .pji_outline_name_block>& {
        margin-right: $indent;
    }
    .toc_pji_instruction_section & {
        margin-right: $indent;
    }
    .toc_pji_info_section & {
        margin-right: $indent;
    }
    .toc_pji_verdict_section & {
        margin-right: $indent;
    }
    .pji_section_front .pji_outline_name_block>& {
        margin-right: $indent;
    }
}

.name {
    .pji_name>& {
        display: inline;
    }
    .pji_section_front .pji_outline_name_block>.pji_name>& {
        display: inline;
    }
}

.charge_para {
    .pji_instruction_body & {
        margin-bottom: $indent;
    }
}

.pji_outline_name_block {
    .toc_pji_hierarchy>a>& {
        margin: $indent auto;
        text-align: center;
    }
    .toc_pji_instruction_section & {
        display: flex;
    }
    .toc_pji_info_section & {
        display: flex;
    }
    .toc_pji_verdict_section & {
        display: flex;
    }
    .pji_section_front & {
        display: block;
        margin-bottom: $indent;
    }
    .pattern_jury_instruction_body .pji_info_section .pji_section_front>& {
        text-align: center;
        margin: calc(#{$indent} * 0.5);
    }
}

.toc_pji_instruction_section,
.toc_pji_info_section,
.toc_pji_verdict_section {
    display: flex;
    justify-content: space-between;
    align-items: baseline; // flex-wrap: wrap;
}

.pji_para {
    .pji_instruction_body .pji_reference_block>& {
        margin-left: $indent;
    }
    .pji_instruction_body .pji_note_group>& {
        margin-bottom: calc(0.5*#{$indent});
    }
    .pattern_jury_instruction_body .pji_verdict_section_body .pji_reference_block>& {
        margin-left: $indent;
    }
}

.list_item {
    .pji_instruction_body .pji_note_group & {
        margin-bottom: calc(0.5*#{$indent});
    }
}

.name_block {
    .pji_instruction_body .pji_note_group>.head>& {
        margin-left: 0;
        margin-bottom: calc(0.5*#{$indent});
        margin-top: 0;
    }
}

.pji_note_group {
    margin-top: $indent;
}

.point {
    .pji_para & {
        display: inline;
    }
}