@CHARSET "ISO-8859-1";

.displayTagTable {
    border: 1px solid #E0E0E0;
    margin: 10px 0 !important;
    width: 100%;
}
.displayTagTable th, .displayTagTable td {
    padding: 2px 4px !important;
    vertical-align: top;
}
.displayTagTable thead tr {
    background-color: #E0E0E0;
}
.displayTagTable th.sorted {
    background-color: #FFF6D9;
}
.displayTagTable th a, .displayTagTable th a:visited {
    color: black;
    text-decoration: none;
}
.displayTagTable th a:hover {
    color: black;
    text-decoration: underline;
}
.displayTagTable th.sorted a, .displayTagTable th.sortable a {
    background-position: right center;
    display: block;
    width: 100%;
}
.displayTagTable th.sortable a {
    background-image: url("images/arrow_off.png");
    background-repeat: no-repeat;
}
.displayTagTable th.order1 a {
    background-image: url("images/arrow_up.png");
    background-repeat: no-repeat;
}
.displayTagTable th.order2 a {
    background-image: url("images/arrow_down.png");
    background-repeat: no-repeat;
}
.displayTagTable tr.odd {
    background-color: #FFFFFF;
}
.displayTagTable tr.tableRowEven, .displayTagTable tr.even {
    background-color: #BFDFFF;
}
.displayTagTable span.export {
    cursor: pointer;
    display: inline-block;
    padding: 0 4px 1px 20px;
}
.displayTagTable .group-1 {
    border-top: 1px solid black;
    font-weight: bold;
    padding-bottom: 10px;
}
.displayTagTable .group-2 {
    border-top: 1px solid black;
    font-style: italic;
}
.displayTagTable .subtotal-sum, .displayTagTable .grandtotal-sum {
    font-weight: bold;
    text-align: right;
}
.displayTagTable .subtotal-header {
    border-top: 1px solid white;
    padding-bottom: 0;
}
.displayTagTable .subtotal-label, .displayTagTable .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.displayTagTable .grouped-table tr.even {
    background-color: #FFFFFF;
}
.displayTagTable .grouped-table tr.odd {
    background-color: #FFFFFF;
}
.displayTagTable .grandtotal-row {
    border-top: 2px solid black;
}
.displayTagTable .topbar {
    position: static;
}
.displayTagTable td.hidden { 
     display: none; 
} 
.displayTagTable th.hidden { 
     display: none; 
} 