.header {
	  position:relative;
	  /* 
	  top:0px; 
	  left:0px;
	  */ 
	  width:100%; 
	  height:30px; 
	  overflow:auto;
	  background:black;
	  font-family:Arial;
	  font-size:8pt;
}
.bodyContainer {
	position:relative; 
  	width:100%; 
  	height:100%;
  	overflow:auto;
  	background:cyan;
}
.left {
	position:relative; 
 	top:30px; 
  	left:0px;
  	width:25%; 
  	height:100%;
  	overflow:auto;
  	background:cyan;
}

.title {
	position:relative; 
 	top:30px; 
  	left:25%;
  	width:75%; 
  	height:120px;
  	overflow:auto;
  	background:orange;
}

.body {
	position:relative; 
 	top:155px; 
  	left:25%;
  	width:75%; 
	height:50%;
  	overflow:auto;
  	background:yellow;
}

.footer {
	position:fixed; 
 	bottom:0px; 
  	left:0px;
  	width:100%; 
  	height:30px; 
  	overflow:auto;
  	background:#F4EEE9;
  	font-family:Arial;
  	font-size:8pt;
}

/*
#content {
	  position:fixed; 
	  top:105px;
	  left:0;
	  bottom:75px; 
	  right:0; 
	  overflow:auto; 
}
*/