
.job-details-table-label {
	border: thin double gray;
}
.job-details-table-label {
	background: #8fff8f;
	padding: 4px;
	font-size: 14px;
	font-weight: bold;
	border: thin double gray;
}
.job-details-refresh-button {
	margin-left: 20px;
}

.errorBox {
	padding: 5px;
	color:red;
}

.errorMessage, .error {
	color:red;
}

.infoMessageWarning,
.infoMessageSuccess,
.infoMessageError {
	line-height:2em;
	text-align: center;
	font-weight: bold;
	list-style: none;
}

.infoMessageWarning {
	background-color: yellow;
}

.infoMessageSuccess {
	background-color: lightgreen;
}

.infoMessageError {
	background-color: red;
}

.info {
	font-size:0.7em;
	font-style: italic;	
	list-style: none;
}

html, body {
	height:100%;
	margin: 0px;
	padding: 0px;
	font-family:Arial;
}

/* Standard header, center, footer layout */
#wrapper {
	position: relative;
    min-height: 100%;
    height:     auto !important;
    margin:     0 auto -2.4em; /* -2em being the size of the footer */
}

#header {
	padding:0em .5em;
	position:fixed;
	top:0em;
	left:0em;
	z-index:1;
    background-color: black;
    height: 3.75em;
    width:100%;
	color:white;
}

#center {
	padding-top: 3.75em;
	position:relative;
}

#footerWrapper {
	width:100%;
  	background:#F4EEE9;
  	font-size:.8em;
    clear: both;
}

#footer {
	padding:0em .5em;
	line-height: 2.4em;
}

#footerWrapper, #push {
	clear:both;
	min-height:2.4em;
}

#left {
	position:absolute;
	top:3.75em;
	left:0em;
	padding-left:.5em;
	padding-top:.5em;
	padding-bottom:1em;
    background-color: #F4F4F4;
    width: 10em;
}

#left .filterRow {
	margin-bottom:.3em;
}

#left .filterRow label,
#preferencesForm .filterBox label {
	display:block;
}

#left .wildCard, label.wildCard {
	color:gray;
	font-style: italic;
	margin:1em 0em;
}

#left .header {
	font-family: Arial;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: .5em;
}

#left input[type="text"],
#left select {
	width:10.2em;
}

#right {
	margin-left:10.5em;
	background-color: white;
}

#right > .titleWrapper,
#center > .titleWrapper {
	background: #E0E0E0;
	min-height: 7.2em;
    width: 100%;
}

.titleWrapper > .title {
	padding: .5em;
	position: relative;
}

#right > .main,
#center > .main  {
	background:white;
	padding: .5em;
}

.pageTitle {
	font-family:Arial;
	font-size:1.5em;
	font-weight:bold;
}

.title-description {
	font-size: 1em;
}

.leftFooter {
	font-family:Arial;
	color:gray;
	float:left;
}
.headerLeftSide {
	line-height: 2.2em;
}

.headerLeftSide .environment {
	text-align: right;
	font-weight: bold;
	margin-left:3em;
	color: lime;
}



.headerRightSide {
	display:block;
	position:relative;
}

.programTitle {
	font-weight: bold;
}

.rightFooter {
	position:relative;
	float:right;
}

.labelCol { 
	text-align:right; 
	font-weight: bold;
}

.buttons a span,
.modalButtons a span {
	color:#555555;
}

.buttons a span:hover,
.modalButtons a span:hover {
	color:black;
}

/* Header navigation styles*/
ul.navList {
	list-style-type:none;
	padding:0em;
	margin:0em;
}
ul.navList li {
	float:left;
}

ul.navList a {
	display: block;
    padding:.3em;
    margin-right:.2em;
    font-size:0.8em;
    font-weight:bold;
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-top: 1px white solid;
    background-color:#777777;
}

ul.navList a:link,
ul.navList a:visited
{
	text-decoration: none;
	color:white;
}

ul.navList a:hover {
	background-color: #E7E7E7;
}

/* Link styling */
a,
a:VISITED
{
	text-decoration: none;
	color:blue;
}

a:hover {
	text-decoration: underline;
}

.buttons {
	margin:1em;
}

#bookData > div {
	display: inline-block;
	zoom:1; /* IE7 hack */
	*display: inline; /* IE7 hack */
}

#bookData .bookImage {
	margin:0em .5em;
}

#bookData .bookImage > img {
	width:54px;
	height:72px;
}

#bookData .titleData {
	padding-top:.6em;
	vertical-align: top;
	margin: 0em;
}

#bookData .titleData label {
	font-weight: bold;
}

.bookDefinitionCRUD {
	position: relative;
}

.bookDefinitionCRUD .leftDefinitionForm label,
.bookDefinitionCRUD .rightDefinitionForm label {
	float:left;
	margin-right:.6em;
	text-align:right;
	width:12.5em;
}

.bookDefinitionView label {
	margin-right:.65em;
	text-align:right;
}

.bookDefinitionCRUD .row,
.bookDefinitionView .row,
#supportForm .row {
	clear:both;
	margin:.65em .35em;
}

.bookDefinitionCRUD .sectionLabel,
.bookDefinitionView .sectionLabel {
	margin-top:1em;
	font-weight: bold;
	font-size:1.3em;
	text-align: center;	
}

.bookDefinitionCRUD .guid {
	width: 26em;
}

.bookDefinitionCRUD .centerSection {
	width:65.3em;
}

.bookDefinitionView .centerSection {
	width:58em;
}

.centerSection, 
.bookDefinitionCRUD .sectionLabel,
.bookDefinitionView .sectionLabel {
	margin-left:auto;
	margin-right:auto;
}

.centerSection > div {
	overflow:hidden;
	display:inline-block;
	zoom:1; /* IE7 hack */
	*display: inline; /* IE7 hack */
}
 div.field {
 	overflow:auto;
 	text-align: center;
 }
.bookDefinitionCRUD .leftDefinitionForm,
.bookDefinitionCRUD .rightDefinitionForm {
	width: 520px;
	vertical-align: top;
}

.bookDefinitionView .leftDefinitionForm,
.bookDefinitionView .rightDefinitionForm {
	width: 440px;
	vertical-align: top;
}

.bookDefinitionCRUD .leftDefinitionForm input[type="text"],
.bookDefinitionCRUD .rightDefinitionForm input[type="text"],
.bookDefinitionCRUD .leftDefinitionForm textarea,
.bookDefinitionCRUD .rightDefinitionForm textarea {
	width:250px;
}

.bookDefinitionCRUD .expandingBox  {
	text-align: left;
	margin: .5em 0em;
}

.bookDefinitionView .expandingBox  {
	margin: .8em 0em;
}

.bookDefinitionCRUD .expandingBox .dynamicRow {
	margin-bottom: .2em;
}

.bookDefinitionCRUD #additionFrontMatterBlock {
	width:600px;
}

.bookDefinitionCRUD .frontMatterSectionTextArea {
	display: block;
	width:540px;
	height: 200px;
	margin: 5px;
}

.bookDefinitionCRUD .frontMatterPage {
	border: 2px black solid;
	padding:5px;
}

.bookDefinitionView .frontMatterPage {
	width:100%;
}

.bookDefinitionCRUD .frontMatterSection {
	border: 3px gray solid;
	padding:5px;
	margin:5px;
}

.bookDefinitionCRUD .frontMatterSection br{
	height:1px;
}

.bookDefinitionCRUD #additionalFrontMatter .additionalFrontMatterText {
	width:420px;
}

.bookDefinitionCRUD .generateTitleID {
	background-color: #D0E0E0;
	border: gray 2px solid;
	padding:10px 5px;
	margin:10px 0px;
	text-align: center;
}

.bookDefinitionCRUD .generateTitleID input {
	margin: 0px 5px; 
}
.bookDefinitionCRUD #publishDetailDiv,
.bookDefinitionCRUD #publisherChooseDiv {
	margin:10px 0px 0px;
}
.bookDefinitionCRUD #publishDetailDiv > div, 
.bookDefinitionCRUD #publisherChooseDiv > div{
	vertical-align:top;
	display:inline-block;
	zoom:1; /* IE7 hack */
	*display: inline; /* IE7 hack */
}
.bookDefinitionCRUD .keywords label {
	float:none;
	vertical-align: top;
}
.bookDefinitionCRUD .keywords select {
	width:100px;
}

.bookDefinitionCRUD .keywords .row {
	float:left;
}

.bookDefinitionCRUD .buttons {
	text-align:right;
	margin:50px 100px 50px 100px;
}

.bookDefinitionCRUD #accordion {
	width:256px;
	margin-left:210px;
	font-size: 14px;
	min-height: 300px;
}
.bookDefinitionCRUD #accordion span {
	display:block;
}
.bookDefinitionCRUD #accordion label {
	float:none;
	width:100%;
}

.bookDefinitionCRUD #pilotBook .sequenceNumber
.bookDefinitionCRUD #authorName .sequenceNumber,
.bookDefinitionCRUD #nameLine .sequenceNumber{
	width: 30px;
}

.bookDefinitionCRUD #pilotBook input.blur,
.bookDefinitionCRUD #authorName input.blur,
.bookDefinitionCRUD #nameLine input.blur,
.bookDefinitionCRUD #additionFrontMatterBlock input.blur {
  color:#808080;
}

.bookDefinitionCRUD #pilotBook .row,
.bookDefinitionCRUD #authorName .row,
.bookDefinitionCRUD #nameLine .row {
	text-align: right;
}

.bookDefinitionCRUD #authorName .row input {
	margin: 0px 1px;
}

.bookDefinitionCRUD .leftDefinitionForm .errorDiv,
.bookDefinitionCRUD .rightDefinitionForm .errorDiv {
	text-align: left;
	margin-left:210px;
}

.bookDefinitionCRUD .errorDiv2 {
	text-align: left;
}

.bookDefinitionCRUD .errorDiv2 span {
	display: block;
}


.bookDefinitionCRUD #mask {
  position:fixed;
  top:0px;
  left:0px;
  z-index:99;
  background-color:gray;
  display:none;
}
   
.bookDefinitionCRUD #modal .window {
  position:fixed;
  width:440px;
  height:240px;
  display:none;
  z-index:100;
  padding:20px;
  background-color: white;
  text-align: center;
}

.bookDefinitionCRUD #modal #comment {
	width:360px;
	height:120px;
	margin:10px;
}

.bookDefinitionCRUD #modal .modelTitle {
	font-weight: bold;
}

.validateFormDiv {
	font-size: 1.1em;
	font-weight: bold;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#keywordBox {
	margin-left: 210px;
	margin-right:5px;
	clear:both;
}

.keywordLabel{
	background: #EAF3F8;
    border: thin double gray;
    font-weight: bold;
    padding: 4px;
	margin-top:.5em;
	cursor:pointer;
}

.keywordLabel:hover{
	background: #BCF7F8;
}

#keywordBox .keywordValueBox {
	border: 1px solid gray;
	margin-top:.1em;
	padding-left: 20px;
	padding-bottom: 5px;
}

#searchJobExecution {
	position: absolute;
	top:.5em;
	right:.5em;
}

.bookDefinitionView .dynamicContent label {
	text-align: left;
	font-weight: bold;
}

.bookDefinitionView .dynamicContent .expandingBox {
	border: gray solid .1em;
	text-align: left;
	padding: .2em;
}

.dynamicContent {
	width:55.4em;
	margin: 1em auto 0em auto;
}

.dynamicContent .wordwrap {
	max-width:53.4em;
}

.dynamicContent .expandingBox {
	border: gray solid .2em;
	text-align: center;
	padding: .2em;
}

.dynamicContent .expandingBox .dynamicRow {
	display: inline-block;
	zoom:1; /* IE7 hack */
	*display: inline; /* IE7 hack */
	vertical-align: top;
	margin:0em .2em;
	text-align: left;
}

.dynamicContent .expandingBox .dynamicRow label {
	vertical-align: top;
	margin-right:.3em;
	display:block;
}

#frontMatterLinks {
	margin-left:2em;
}

#frontMatterLinks a {
	cursor: pointer;
}

#preferencesForm {
	text-align: center;
}

#preferencesForm > .row,
#preferencesForm > .filterBox {
	margin: 1em 1em;
	display: inline-block;
	zoom:1; /* IE7 hack */
	*display: inline; /* IE7 hack */
	vertical-align: top;
	text-align: left;
}

#preferencesForm .labelCol {
	text-align: left;
	font-size: 1.2em;
}

#stats.displayTagTable tr.tableRowEven, 
#stats.displayTagTable tr.even {
	background-color: #F0A6A6;
}

#audit.displayTagTable tr.tableRowEven, 
#audit.displayTagTable tr.even {
	background-color: #FFB259;
}

#job.displayTagTable tr.tableRowEven, 
#job.displayTagTable tr.even {
	background-color: #8CF2B5;
}
#step.displayTagTable tr.tableRowEven, 
#step.displayTagTable tr.even {
	background-color: #A8FFE2;
}
#jobExecutionContextMapEntry.displayTagTable tr.tableRowEven, 
#jobExecutionContextMapEntry.displayTagTable tr.even {
	background-color: #F3DBFF;
}
#jobParameterMapEntry.displayTagTable tr.tableRowEven, 
#jobParameterMapEntry.displayTagTable tr.even {
	background-color: #F3DBFF;
}

#proviewList.displayTagTable tr.tableRowEven, 
#proviewList.displayTagTable tr.even {
	background-color: #FFFF66;
}

#support.displayTagTable tr.tableRowEven, 
#support.displayTagTable tr.even {
	background-color: #CFD2F1;
}

/* css for timepicker addon */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
div.ui-datepicker{
	font-size:70%;
}

#outageForm .row,
#outageTypeForm .row {
	margin-bottom:1em;
}

#outageForm .row label,
#outageTypeForm .row label {
	display:block;
}

#outageForm .row input[type='text'],
#outageTypeForm .row input[type='text'],
#outageForm .row textarea {
	width:30em;
}

#outageMessageBox {
	padding:.5em;
	background-color: #D71F1F;
	color: white;
	font-size: 1 em;
}

#outageMessageHeader {
	font-size: 1.2em;
	font-weight: bold;
}

#outageMessageBox .outageMessage {
	border-bottom: black 1px solid;
	margin:.4em 0em;
}

.stopGather {
	margin: 1em;
}

.pilotBook {
	margin-left: 13.1em;
}

#proviewTitleInfoForm #comments {
	width: 20em;
	height: 10em;
	margin-left:1em;
}

#proviewGroupForm #comments {
	width: 20em;
	height: 10em;
	margin-left:1em;
}

#proviewGroupListFilterForm #comments {
	width: 20em;
	height: 10em;
	margin-left:1em;
}


#supportForm #linkDescription,
#supportForm #linkAddress {
	width: 20em;
}

#displayFile .dynamicContent .expandingBox {
	border: none;
	margin: 0px;
	padding: 0px;
	padding-left:.5em;
}

#codesWorkbenchFolder #cwbFolderList .cwbFolderBookName {
	color: blue;
	font-weight: bold;
	margin-bottom: .5em;
}
#codesWorkbenchFolder #cwbFolderList .cwbFolderBookName label {
	cursor: pointer;
}

#auditListLabel {
	margin-top: 1em;
}

#addNortFileLocationHere .dynamicRow {
	display: inline-block;
}

#addNortFileLocationHere .moveUp {
	margin-left:9.5em;
}
#addNortFileLocationHere .moveUp,
#addNortFileLocationHere .moveDown {
	margin-right:0.2em;
}

#currentMajorVersionGroup,
#nextMajorVersionGroup {
	margin-top: 1em;
	margin-bottom: 1em;
}

#currentMajorVersionGroup .dynamicRow label,
#nextMajorVersionGroup .dynamicRow label{
	width: 10em;
	float:left;
}

#currentMajorVersionGroup .expandingBox,
#nextMajorVersionGroup .expandingBox{
	margin-left: 1em;
	margin-bottom: 0.5em;
}

#groups {
	max-height: 30em;
	overflow-y: auto;
}

#groups .group {
	margin-top: 1em;
	margin-bottom: 1em;
	background: aliceblue;
	padding-bottom: 1px;
}

#notgrouped ul.drop,
#groups ul.drop { 
	list-style-type: none; 
	margin: 1em; 
	padding: 0.3em;
	border: solid 1px; 
	min-height: 1em;
 }

#notgrouped ul.drop li,
#groups ul.drop li { 
	margin: 5px; 
	padding: 5px; 
	font-size: 1.2em; 
}

#notgrouped div.bookInfo,
#groups div.bookInfo { 
	font-size: 0.7em;
}

#performSapRequest {
	display:block;
	float:right;
	margin-right:45px;
	margin-bottom:2px;
}

#sap-spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: background-color 0.5s ease;
}

#sap-spinner {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
	transition: height 0.5s ease;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.sap-spinner-spinning {
	animation: spin 1.5s infinite;
	animation-delay: 0.5s;
}

.sap-spinner-hidden {
	height: 0;
}

.sap-spinner-appeared {
	height: 100%;
}

.transparent-white {
	background-color: rgba(255, 255, 255, 0.8);
}

.transparent {
	background-color: transparent;
}

.lightgray {
	color: lightgray !important;
}

.centerSection>div.leftTopPanel {
	display:table-cell; 
	border:2px solid #fff; 
	padding:0.5em;
}
.centerSection>div.historyPrintComponentsPanel {
	display:none;
	border:2px solid #ddd;
	padding:0.5em;
	border-radius: 0.5em;
}
.centerSection>div.rightTopPanel {
	display:table-cell;
}
div.jsGrid-container .hasDatepicker {
	width: 100px;
	text-align: center;
}
div.jsGrid-container .ui-datepicker * {
	font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;
	font-size: 14px;
	font-weight: 300 !important;
}
div.jsGrid-container table.jsgrid-table input[type='text'] {
	width: 100%;
}
div.jsGrid-container table.jsgrid-table input[type='button'] {
	width: 0;
	padding-right: 10px;
}
div.jsGrid-container .jsgrid-header-row .jsgrid-header-sort-asc:before {
	border-color: transparent transparent #ffffff transparent;
}