<html >
  <head>
    <meta charset="utf-8">
    <title>Cumulus Sample Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
      var n =  new Date().toDateString();
      document.getElementById("date").innerHTML = n;
    </script>
  <script src='/js/main.js'></script>
  <style>
    #emp {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    #emp tr:nth-child(even){background-color: #f2f2f2}
    #emp tr:hover {background-color: #ddd;}
    #emp th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color:Gray;
      color: white;font-weight: bold;font-size: 20px;
    }
  </style>
  </head>

  <body class='container'>
    <h4 style="float: right" id="date" style="font-weight:bold;"></h4>
      <div style="clear: both">
        <h4 style="float: right" style="font-weight:bold;">Version 1</h4>
          <h1 align='center'>Cumulus Sample Application</h1><br/>
          <h2 align='center'>The Cumulus team says hello!</h2>
      </div>
  </body>
</html>
