@import "constants.scss";
.outline_name_block {
    .appendix_front>& {
        margin: #{$indent}em 0;
        display: block;
    }
    .appendix_front>&,
    .toc_appendix_block>& {
        margin: #{$indent}em 0;
    }
    .appendix_section_front>& {
        margin: #{$indent}em #{$indent}em 0 0;
    }
}

.name {
    .toc_appendix_block>.outline_name_block>& {
        text-transform: uppercase;
    }
    .stat_name_block>.name_block>& {
        display: inline;
        margin-left: #{$indent}em;
        .bold {
            display: inline;
        }
    }
    .form_name_block>& {
        text-align: center;
    }
    .stat_head>.name_block>& {
        font-style: normal;
        text-align: center;
        text-indent: 0;
    } 
    .full_toc>.toc_appendix_section .outline_name_block>& {
        margin-left: #{$indent*2}em;
    }
}

.designator {
    .toc_appendix &,
    .toc_appendix_section & {
        min-width: #{$indent*2}em;
        max-width: #{$indent*2}em;
    }
    .appendix_section_front &,
    .form_item & {
        margin-right: #{$indent}em;
        ;
    }
}

.label {
    .appendix & {
        display: inline-block;
    }
    .appendix_front & {
        margin-right: #{$indent}em;
    }
    .appendix_front>.outline_name_block>& {
        margin-bottom: #{$indent/2}em;
    }
    .publication>.publication_back>.appendix_block>.appendix_reserved>.outline_name_block>& {
        margin-right: #{$indent}em;
    }
}

.form_item {
    margin-left: #{$indent}em;
}

.form_para,
.form_para * {
    display: inline;
}

.form_unit {
    .publication>.publication_back>.appendix_block>.appendix>.appendix_body>.appendix_section>.appendix_section_body>.form>.form_para>& {
        display: block !important;
    }
}

.name_block {
    display: inline-block;
    min-width: #{$indent/1.5}em;
    .form_item>& {
        text-indent: #{$indent}em;
    }
}

.form_name_block {
    margin: #{$indent/2}em auto;
}

.form_para+.form_para {
    display: block;
}

.form_line {
    a {
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    .caption_block & {
        display: block;
        margin: 0 auto;
    }
    .stat_subsect>.form>& {
        margin: #{$indent}em 0;
    }
    .leaveout+.t {
        display: inline;
    }
}

.stat_text_1 {
    vertical-align: super;
    display: inline;
}

.ref_6 {
    display: inline;
}

.leaveout {
    display: inline-flex;
    align-items: flex-end;
    vertical-align: sub;
    overflow: hidden;
    .stat_structure .form_line &,
    .stat_subsect .form_text>&,
    .stat_subsect>.form>.caption_block & {
        display: inline;
        min-width: 0;
        border-bottom: none;
    }
    * {
        text-indent: 0;
    }
}

.leaveout_block {
    display: inline;
}

.name_block {
    .stat_name_block>& {
        display: inline;
        margin: 0;
    }
    .appendix_block>.appendix>.appendix_body>.stat_structure>.stat_title>.stat_chapter>.stat_article>.stat_name_block>& {
        display: block;
        text-align: center;
    }
}

.stat_text,
.stat_name_block {
    padding-left: 0;
}

.stat_name_block {
    float: left;
    .footnote &,
    .appendix_block>.appendix>.appendix_body>.stat_structure>.stat_title>.stat_chapter>.stat_article>&,
    .appendix_block>.appendix>.appendix_body>.stat_structure>.stat_title>.stat_chapter>.stat_article>.stat_section>& {
        float: none;
    }
}

.stat_subsect,
.stat_para,
.stat_subpara,
.stat_cl,
.stat_subcl {
    display: list-item;
    list-style: none;
    text-indent: #{$indent}em;
    padding-left: #{$indent}em;
}