@import "constants.scss";
.frontmatter {
    text-align: justify;
    table {
        width: 100%;
    }
    .textrule {
        height: #{$indent / 4}em;
        background-color: #000000
    }
}

.colspec {
    .frontmatter .tbl table+& {
        margin-top: #{$indent * 0.5}em;
        margin-bottom: #{$indent * 0.75}em;
    }
}

.text_line,
.endline {
    display: block;
}

.fm_date_variable,
.fm_variable,
.fm_copyright_page .cgt {
    display: inline;
}

.fm_copyright_clearance {
    margin-top: #{$indent * 2}em;
}

.pre_leading_1p {
    margin-top: #{$indent}em;
}

.pre_leading_2p {
    margin-top: #{$indent*2}em;
}

.pre_leading_7p {
    margin-top: #{$indent*7}em;
}

.pre_leading_8q {
    margin-top: #{$indent*0.8}em;
}

.pre_leading_2_6p {
    margin-top: #{$indent*2.6}em;
}

.pre_leading_12p {
    margin-top: #{$indent*12}em;
}

.pre_leading_20p {
    .frontmatter>.fm_copyright_page>.fm_current_copyright>& {
        margin-top: #{$indent*12}em;
    }
}

.ebook-isbn {
    text-align: center;
    font-size: #{$indent*0.7}em;
    margin-top: 1em;
}

.ebook-isbn-label {
    font-weight: bold;
    display: inline-block;
}

.fm_related_products_boilerplate {
    text-align: center;
    .text_line+& {
        margin-top: #{$indent}em;
    }
}

.font {
    display: inline;
}

.para {
    .frontmatter .fm_highlights .pre_leading_2>.list>.list_item>& {
        margin-left: #{$indent*2}em;
        margin-top: #{$indent*-1}em;
        display: block;
    }
}

.list {
    .frontmatter .fm_highlights .pre_leading_2>.list>.list_item>& {
        padding-left: #{$indent}em;
    }
    .frontmatter>.fm_highlights>.pre_leading_12q>& {
        display: block;
        text-indent: #{$indent}em;
    }
}

.frontmatter>.trImageContainer>.imageWrapper {
    width: #{$indent * 15}em;
}

.custserv {
    text-align: center;
    & * {
        display: inline !important;
    }
}

tr {
    .frontmatter>.fm_table_of_abbreviations>.tbl>.table_frame_none>tbody>&>td>*,
    .frontmatter>.fm_table_of_abbreviations>.tbl>.table_frame_none>tbody>&>td>* * {
        display: inline;
    }
    .frontmatter>.fm_other_structure>.para>.tbl>.table_frame_none & * {
        padding: 0;
    }
    .frontmatter>.fm_other_structure>.para>.tbl>.table_frame_none &>.l:first-child {
        width: #{$indent * 2}em;
    }
}
