@import "constants.scss";
.index-title {
    display: block;
    text-align: center;
}

.INDEX {
    margin-top: #{$indent}em;

    .l2, .l3, .l4 {
        margin-left: #{$indent}em;
    }

    .CITE {
        display: inline;
    }

    .mte2 {
        .linebreak + span {
            margin-left: #{$indent}em;
        }
    }

    .l2 {
        .mte2 {
            margin-left: #{$indent * -1}em;
        }
    }

    .l3 {
        .mte2 {
            margin-left: #{$indent * -2}em;
        }
    }

    .l4 {
        .mte2 {
            margin-left: #{$indent * -3}em;
        }
    }

    .columns>.column>&>.l1 {
        text-indent: #{$indent * -1}em;
        margin-left: #{$indent * 2}em;
    }
}