@import "constants.scss";
.para_text {
    text-indent: #{$indent}em;
    * {
        display: inline;
    }
}

.name {
    .analytical_hierarchy &,
    .outline_name_block & {
        display: inline;
    }
    .appendix_front &,
    .publication>.metadata_block+.publication_body>.part>.front>.outline_name_block>&,
    .publication>.publication_body>.part>.front>.outline_name_block>& {
        display: block;
        margin-top: #{$indent/2}em;
    }
}

.designator {
    .analytical_hierarchy .front & {
        margin-right: #{$indent}em;
    }
    .section_front & {
        margin-right: #{$indent/2}em;
    }
    .head .name_block & {
        margin-right: #{$indent/2}em;
    }
}

.section_front {
    display: flex;
    margin: #{$indent}em 0;
    .publication>.publication_body>.chapter>.chapter_body>.section_block>.section>& {
        flex-wrap: wrap;
    }
    .analytical_level_body>.section_block>.section>&,
    .publication>.publication_body>.part>.part_body>.chapter>.chapter_body>.section_block>.section>& {
        display: block;
    }
}

.xref {
    &:empty {
        display: none;
    }
}

.tbl_name {
    margin: #{$indent}em auto;
    width: auto;
    text-align: center;
    &.left {
        text-align: left;
    }
}

table {
    justify-content: space-between;
    .signature_block &,
    .form_para>.tbl & {
        width: 100%;
    }
    &.table_frame_all {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: #{$indent * 2}em;
    }
    .publication>.publication_body>.part>.part_body>.chapter>.chapter_body>.section_block>.section>.section_body>.para>.tbl & {
        margin-top: #{$indent * 1}em;
        margin-bottom: #{$indent * 1}em;
    }
}

.tbl .table_frame_topbot {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

thead {
    text-align: center;
}

tr {
    .signature_block &,
    .form_para>.tbl & {
        display: flex;
    }
}

td {
    text-align: left;
    padding: 0 #{$indent}em 0 #{$indent}em;
    .signature_block &,
    .form_para>.tbl & {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .section_body thead & {
        border-bottom: #{$indent / 10}em solid black;
    }
    table.table_frame_all & {
        border: #{$indent / 10}em solid black;
        div.super {
            display: inline;
        }
    }
    .section_body>.tbl>.table_frame_none>thead>tr>& {
        border: none;
    }
}

td:first-of-type {
    padding-left: #{$indent / 5}em;
}

td:last-of-type {
    padding-right: 0;
}

td:empty {
    .section_body thead & {
        border: none;
    }
}

td[rowsep="1"] {
    border-bottom: 1px solid black;
}

.name_block {
    margin-right: #{$indent / 2}em;
    .form_item>& {
        margin: 0;
    }
    .list_item>&,
    .publication>.publication_body>.chapter>.chapter_body>.section_block>.section>.section_body>.feature_para_block>& {
        display: inline;
    }
    .section_body .para>.list>.list_item>.list>.list_item>& {
        display: inline-block;
        min-width: #{1.25*$indent}em;
    }
    .head>& {
        margin-left: #{$indent}em;
        margin-top: #{$indent}em;
    }
    .para>.list>.list_item>& {
        margin-left: #{$indent}em;
    }
    .publication>.publication_body>.chapter>.chapter_body>.section_block>.section>.section_body>.para>.list>.list_item>& {
        margin-left: #{-1.65*$indent}em;
    }
}

.para_text {
    .list_item & {
        text-indent: 0;
    }
    .feature_para_block>.name_block+.para>& {
        display: inline;
    }
}

.para {
    .list_item>&,
    .list_item>& * {
        display: inline;
    }
    .feature_para_block>.name_block+&,
    .chapter>.chapter_body>.section_block>.section>.section_body>.para>.tbl>.fixed_footnote_block>.fixed_footnote .footnote_body>&,
    .publication .publication_body .part .part_body .chapter .chapter_body .analytical_level .analytical_level_body .section_block .section .section_body .list .list_item .name_block+& {
        display: inline;
    }
    .publication .publication_body .part .part_body .chapter .chapter_body .analytical_level .analytical_level_body .section_block .section .section_body .list .list_item & {
        display: block;
    }
    .publication>.publication_body>.chapter>.chapter_body>.section_block>.section>.section_body>.feature_para_block>& {
        display: inline-block;
        margin-left: #{$indent}em; 
    }
}

.list {
    .section_body>.para>& {
        margin-left: 1.75em;
    }
}
.list_item {
    margin-left: #{$indent}em;
    display: list-item;
    list-style: none;
    .section_body>.para>.list>.list_item>.list>& {
        margin-left: 0;
    }
}

.quote_para {
    margin: #{$indent/4}em #{$indent}em;
    text-indent: 0;
    .section_body>.quote_block>& *,
    .section_body>.para>.quote_block>& * {
        text-indent: 0;
    }
    .quote_block>&{
        display: block;
    }
}

.pocketPartLinkWrapper {
    height: #{$indent}em;
    .pocketPartLink {
        display: block;
        line-height: #{$indent}em;
        font-weight: bold;
        font-size: #{$indent*0.9}em;
        float: right;
    }
}

.reference_entry {
    .publication>.publication_body>.chapter>.chapter_body>.section_block>.section>.section_front>.research_reference_block>&,
    .publication>.publication_body>.chapter>.front>.research_reference_block>.reference_entry_group>&,
    .publication>.publication_body>.part>.part_body>.chapter>.chapter_body>.section_block>.section>.section_front>.research_reference_block>& {
        display: block;
        margin-left: #{$indent}em;
        text-indent: -#{$indent}em;
    }
}

a {
    .publication_body .generated_toc>.full_toc>.toc_section>.outline_name_block>&,
    .toc_analytical_level>.toc_section>.outline_name_block>& {
        display: flex;
    }
}

.research_reference_block {
    .publication .chapter .section>.section_front>.outline_name_block+& {
        width: 100%;
    }
    .analytical_level_body>.section_block>.section>.section_front>&,
    .publication>.publication_body>.part>.part_body>.chapter>.chapter_body>.section_block>.section>.section_front>& {
        display: block;
        margin-top: #{$indent}em;
    }
}

ref {
    .reference_entry>.ref_text>.cite>& {
        display: block;
        text-indent: -#{$indent}em;
        margin-left: #{$indent}em;
    }
    .chapter_body .section_front>.research_reference_block .reference_entry>.ref_text>.cite>& {
        margin-left: 0;
    }
    .publication>.publication_body>.part>.part_body>.chapter>.chapter_body>.section_block>.section>.section_front>.research_reference_block>.reference_entry>.ref_text>.cite>& {
        margin-left: #{$indent}em;
    }
}

.feature_para_block {
    margin: #{$indent}em;

    .publication>.publication_body>.chapter>.chapter_body>.section_block>.section>.section_body>& {
        margin-left: #{2*$indent}em;
    }
}

.xentry * {
    color: transparent;
}

.xentry {
    display: flex;
    flex-direction: column;
    border-right: #{$indent*0.1}em solid;
    border-radius: #{$indent}em;
}

.font_section_reserved,
.font_section_reserved_1 {
    display: inline !important;
}

.head+.image_block .trImageContainer .imageWrapper .tr_image {
    width: 40%;
}

.section_body .para .stat_structure .stat_section .stat_subsect .stat_text div,
.section_body .para .stat_structure .stat_section .stat_subsect {
    display: inline;
}

.form_para .form_text span:first-of-type {
    margin-left: #{$indent}em;
}

.section_body .form .form_para .form_unit .form_item .head .name_block {
    display: block;
}

.t {
    .publication .publication_body .part .part_body .chapter .chapter_body .analytical_level .analytical_level_body .section_block .section .section_body .list .list_item .name_block+.para .para_text & {
        margin-left: 0em !important;
    }
    .publication .publication_body .part .part_body .chapter .chapter_body .analytical_level .analytical_level_body .section_block .section .section_body .list .list_item .para .para_text &:first-of-type {
        margin-left: #{$indent*1.5}em;
    }
}

.tbl td>.leader,
.tbl td>.leader>.fillchar {
    display: inline;
}

.form_unit {
    .form_unit>.form_item>.form_para>& {
        display: block;
    }
}

.section_body {
    .dialogue_item {
        display: flex;
        margin: #{$indent/4}em 0 #{$indent/2}em;
        >.dialogue_label {
            display: flex;
            min-width: #{$indent*2}em;
        }
        >.statement {
            display: flex;
            >.para {
                display: inline;
                >.para_text {
                    display: inline;
                }
            }
        }
    }
}

.editorial_commentary_section_body>.para>.dialogue_block {
    margin-left: #{$indent*2}em;
    >.dialogue_item {
        >.dialogue_label {
            display: inline;
            margin-right: #{$indent}em;
        }
        >.statement {
            display: inline;
            >.para {
                display: inline;
                >.para_text {
                    display: inline;
                }
            }
        }
    }
}

.stat_text {
    .stat_part>.stat_section>.stat_subsect>& {
        display: inline;
    }
}

.section_body>.para>.quote_block>.quote_para>.para_text.first_para_text_yes {
    text-indent: #{$indent}em; 
}